@font-face {
   font-family: 'Regular';
   src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
   font-family: 'Bold';
   src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
   font-family: 'Montserrat';
   src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
   font-family: 'Italic';
   src: url(../fonts/Montserrat-Italic.ttf);
}
@font-face {
   font-family: 'Medium';
   src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
   font-family: 'SemiBold';
   src: url(../fonts/Montserrat-SemiBold.ttf);
}

body {
   font-size: 14px;
   color: #0D3996;
   font-family: "Montserrat" sans-serif;
   line-height: 1.5;
   font-weight: 400;
   overflow-x: hidden;
}
.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

a,
button {
  color: #1F1F1F;
  outline: medium none;
}
h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  color: #001D38;
}


h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #7A838B;
  margin-bottom: 0px;
  font-family: "Montserrat", sans-serif;
}
 #back2Top {
     width: 40px;
     height: 40px;
     line-height: 32px;
     overflow: hidden;
     z-index: 999;
     display: none;
     cursor: pointer;
     -moz-transform: rotate(270deg);
     /* -webkit-transform: rotate(270deg); */
     -o-transform: rotate(270deg);
     -ms-transform: rotate(270deg);
     transform: rotate(270deg);
     position: fixed;
     bottom: 50px;
     background-color: #fff;
     color: #0D3996;
     text-align: center;
     font-size: 30px;
     text-decoration: none;
     right: 10px;
     z-index: 9999;
     border-radius: 50%;
}
.overlay {
  position: relative;
  z-index: 0;
}
.overlay::before {
    position: absolute;
    content: "";
    background-color: #040E27;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .1;
  }
.overlay2 {
  position: relative;
  z-index: 0;
}
.overlay2::before {
  position: absolute;
  content: "";
  background-color: #001D38;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
}

.overlay_03 {
  position: relative;
  z-index: 0;
}

.overlay_03::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #001D38;
  opacity: .6;
  content: '';
  z-index: -1;
}


.owl-carousel .owl-nav div {
  background: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 50px;
  color: #707070;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 50px;
  font-size: 15px;
  line-height: 50px;
  border: 1px solid #4D6174;
  left: 150px;
  color: #fff;
}
.single_slider{
  position: relative;
}

.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 150px;
  outline: none;
}

.owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
  top: -33px;
  font-size: 20px;
  color: #00000085;
  font-weight: bold;
}

.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  top: -33px;
  color: #00000085;
  font-size: 20px;
  font-weight: bold;
}

.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}

.owl-carousel:hover .owl-nav div:hover {
  color: #fff;
  background: #0D3996;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #000;
}

.custom_search_pop .modal-content .serch_form {
  position: relative;
}

.custom_search_pop .modal-content .serch_form input {
  width: 100%;
  height: 40px;
  background: #fff;
  border: none;
  padding-left: 20px;
  color: #000;
  font-size: 15px;
  padding-right: 120px;
}

@media (max-width: 767px) {
  .custom_search_pop .modal-content .serch_form input {
    height: 50px;
  }
}

.custom_search_pop .modal-content .serch_form input::placeholder {
  color: #000;
  font-size: 15px;
}

.custom_search_pop .modal-content .serch_form input:focus {
  outline: none;
}
.custom_search_pop .modal-content .serch_form button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 15px;
  height: 100%;
  padding: 20px;
  color: #fff;
  background: #0D3996;
  display: inline-block;
  border: none;
  line-height: 40px;
  height: 40px;
  padding: 0 30px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .custom_search_pop .modal-content .serch_form button {
    height: 51px;
  }
}



.slider_bg_1 {
  background-image: url(../images/bn-slide1.png);
}

.slider_bg_2 {
  background-image: url(../images/bn2.png);
}

.slider_bg_3 {
  background-image: url(../images/bn5.jpg);
}
.slider_bg_4 {
  background-image: url(../images/bn6.jpg);
}
.slider_bg_5 {
  background-image: url(../images/bn4.png);
}


.slider_area {
  position: relative;
  z-index: 0;
}

.slider_area .single_slider {
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 767px) {
  .slider_area .single_slider {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text {
    margin: 100px 0 50px 0;
    height: 200px;
  }
}

.slider_area .single_slider .slider_text h3 {
  font-size: 150px;
  text-transform: capitalize;
  font-weight: 400;
  line-height: .5;
  color: #fff;
  margin-bottom: 0;
}



@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 94px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 100px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 120px;
  }
}

.slider_area .single_slider .slider_text p {
  font-size: 20px;
  font-weight: 400;
  color: #FFF;
  margin-top: 33px;
  margin-bottom: 49px;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.slider_area .owl-carousel .owl-nav div {
  height: 50px;
  /* left: 0px; */
  width: 50px;
  color: #fff;
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  left: 50px;
  font-size: 14px;
  border: none;
  left: 150px;
  line-height: 120px;
  background: rgba(255, 255, 255, 0.45);
  left: 40px;
  border: none !important;
}


.slider_area .owl-carousel .owl-nav div.owl-next {
  right: 40px;
  left: auto;
}

.slider_area .owl-carousel .owl-nav div:hover {
  background: white;
  color: #001D38;
  border: none;
}



.mobile-hotline {
    display: none;
}
@media (max-width: 767px) {
  .footer .footer_top {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .mobile-hotline {
    display: block;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 60px;
    position: fixed;
    z-index: 9999999;
  }
  .mobile-hotline .mobile-hotline-left {
    width: 45%;
    float: left;
    text-align: center;
    background: white;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 7px;
    height: 45px;
    border-radius: 4px;
  }
  .mobile-hotline .mobile-hotline-left a {
    color: #132469;
    line-height: 46px;
    font-size: 16px;
    font-weight: bold;
  }
  .mobile-hotline .mobile-hotline-right {
    width: 45%;
    float: right;
    text-align: center;
    background: #0D3996;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 7px;
    height: 45px;
    border-radius: 4px;
  }
  .mobile-hotline .mobile-hotline-right a {
    color: white;
    line-height: 46px;
    font-size: 16px;
    font-weight: bold;
  }
}



.video_area {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 280px 0px;
  position: relative;
}
.video_area h3{
  font-size: 28px;
  color: #fff;
  font-family: Bold;
  position: absolute;
  top: -200px;
  text-align: center;
  display: block;
  margin: 0 auto;
  left: 46%;

}
.video_area h3:after{
   content: "";
    position: absolute;
    max-width: 70px;
    background-color: #FED266;
    height: 3px;
    width: 100%;
    top: 65px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
@media (max-width: 767px) {
  .video_area {
    padding: 100px 0;
  }
}
.video_area.overlay:before {
  opacity: 0.3;
}


@media (max-width: 767px) {
  .video_area .video_wrap h3 {
    font-size: 25px;
    margin-bottom: 60px;
  }

  .video_area .video_wrap .video_icon a {
    width: 50px !important;
    height: 50px !important;
   
  }
  .desc-video h4{
    font-size: 25px;
  }
}

.video_area .video_wrap .video_icon a {
  width: 84px;
  height: 84px;
  text-align: center;
  line-height: 84px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ffffff8c;
  display: inline-block;
  color: #fff;
  font-size: 17px;
}

.video_area .video_wrap .video_icon a i {
  font-size: 40px;
  line-height: 88px;
  position: relative;
  left: 6px;
  top: -3px;
  color: #0D3996;
}

.video_play_button {
  position: relative;
}

.video_play_button:before {
  content: "";
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #ffffff70;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
  left: 0;
  bottom: 0;
  z-index: -1;
}

@keyframes pulse-border {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}


/* css-trang chÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ */


/* //////////////////css-box-video /////////////*/
.video_wrap .text-center::after{
  content: "";
  position: absolute;
  max-width: 50px;
  background-color: #FED266;
  height: 3px;
  width: 100%;
  top: 75px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.desc-video{
  margin-top: 15%;
}
.desc-video h4{
  font-size: 28px;
  font-weight: bold;
  color: #FED266;
}
.desc-video span{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.desc-video p{
  font-family:Regular,sans-serif; 
  font-size: 14px;
  color: #ffffffd4;
}
.btn-floating.btn-sm i {
    font-size: .96154rem;
    line-height: 36.15385px;
}
.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
}
.btn-floating.btn-sm {
    width: 36.15385px;
    height: 36.15385px;
}
.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px;
}
.btn-fb {
    color: #fff;
    background-color: #3b5998 !important;
}
.btn-tw:hover {
    color: #fff;
    background-color: #6cb7f0;
}
.btn-tw {
    color: #fff;
    background-color: #55acee !important;
}
.btn-gplus {
    color: #fff;
    background-color: #dd4b39 !important;
}
.btn-ins {
    color: #fff;
    background-color: #2e5e86 !important;
}
.btn-floating:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*////////////////////////////css-slide-khach hang////////////*/
.top-50{
  margin-top: 40px;
}

.img-zoom,.img-zoom-ft,.img-zoom-pr {
 transition: all .5s;
}
.img-zoom-pr:hover{
   transform:scale(1.1); 
}
.img-zoom:hover {
 transform: rotate(5deg) scale(1.1); 
}
.img-zoom-ft:hover {
 transform: rotate(5deg) scale(1.3); 
}
.slick-prev {
    position: absolute;
    left: -40px;
    top: -10px;
    bottom: 0;
    width: 30px;
    height: 30px;
    border: none;
    background: #1371b980 0% 0% no-repeat padding-box;
    margin: auto;
    padding: 0;
    text-indent: -8000px;
    outline: none;
    border-radius: 3px;
}

.slick-next {
    position: absolute;
    right: -30px;
    top: -10px;
    bottom: 0;
    width: 30px;
    height: 30px;
    border: none;
    background: #1371b980  0% 0% no-repeat padding-box;
    margin: auto;
    padding: 0;
    text-indent: -8000px;
    outline: none;
    border-radius: 3px;
}
.image-circle {
    box-shadow: 1px 4px 12px #00000017;
}
.image-circle{
   border-radius: 50%;
   width: 100px;
   height: 100px;
   margin-bottom: 10px;
   margin-top: 10px;
   background-color: white;
   position: relative;
   -webkit-transform: translateY(-3px);
   -moz-transform: translateY(-3px);
   -ms-transform: translateY(-3px);
   -o-transform: translateY(-3px);
   transform: translateY(-3px);
   display: flex;
   align-items: center;
   margin: 0 auto;
   overflow: hidden;
}
.image-circle a{
  margin: 0 auto;
  outline: none;
}
.img.img-cicle{
  outline: none;
}
.slick-slide img {
    display: block;
    outline: none;
}
img {
    max-width: 100%;
    height: auto;
}
.slick-prev:hover:after, .slick-prev:hover:before {
    background: #fff;
}
 .slick-prev:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 16px;
    width: 10px;
    height: 3px;
    background: #fff;
    transform: rotate(40deg);
    border-radius: 15px;
} 
.slick-prev:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 11px;
    width: 10px;
    height: 3px;
    background: #fff;
    transform: rotate(-40deg);
    border-radius: 15px;
}
.slick-next:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 11px;
    width: 10px;
    height: 3px;
    background: #fff;
    transform: rotate(40deg);
    border-radius: 15px;
}
.slick-next:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 16px;
    width: 10px;
    height: 3px;
    background: #fff;
    transform: rotate(-40deg);
    border-radius: 15px;
}
.title-index-kh h2{
  text-align: center;
  color: #2C2C2C;
  font-weight: bold;
  font-size: 28px;
  margin: 50px 0px;
  font-family: Bold;
}
.title-index-kh h2::after,.video_wrap h3::after{
 content: "";
 position: absolute;
 max-width: 70px;
 background-color: #FED266;
 height: 3px;
 width: 100%;
 top: 90px;
 margin: 0 auto;
 left: 0;
 right: 0;
}
.sile-kh{
  padding: 20px;
 }
.slick-initialized .slick-slide{
  outline: none;
}

/*/////////////////////////////////////css bo su tap////////////////////*/
.custom-banner {
    position: relative;
    height: 300px;
    overflow: hidden;
}
.custom-banner img{
  height: 100%;
  width: 100%;
}
.custom-banner a {
    overflow: hidden;
}
.custom-banner a.banner_1 .ov1 {
    top: 30px;
}
.custom-banner .ov1, .custom-banner .ov2, .custom-banner .ov3, .custom-banner .ov4 {
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -ms-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
    position: absolute;
    background: #fff;
    z-index: 1;
}
.custom-banner .ov1 {
    left: 100%;
    top: 7%;
    width: 95%;
    height: 1px;
}
.custom-banner a.banner_1 .ov2 {
    right: 20px;
}
.custom-banner .ov2 {
    top: 100%;
    right: 5%;
    height: 95%;
    width: 1px;
}
.custom-banner a.banner_1 .ov3 {
    bottom: 30px;
}
.custom-banner .ov3 {
    right: 100%;
    bottom: 10%;
    width: 95%;
    height: 1px;
}
.custom-banner a.banner_1 .ov4 {
    left: 20px;
}
.custom-banner .ov4 {
    left: 8%;
    bottom: 100%;
    height: 95%;
    width: 1px;
}
.custom-banner a.banner_1:after {
    height: 100%;
}
.custom-banner a:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: #b6202f;
    opacity: 0;
}
.custom-banner a:hover .ov2 {
    top: 2%;
    margin: 0 auto;
}
.custom-banner a:hover .ov1 {
    left: 2%;
}
.custom-banner a:hover .ov3 {
    right: 2%;
}
.custom-banner a:hover .ov4 {
    bottom: 3%;
}
.bg-custom{
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #4e67a67a;
}
.content-custom{
  margin-top: 30%;
  padding: 0px 30px;
}
.content-custom h3{
  font-size: 20px;
  color: #FED266;
  text-transform: uppercase;
  font-family: bold;
}
.rem{
  position: absolute;
    top: 0px;
    width: 20.5%;
}
.content-custom span,.content-custom p{
  color: #fff;
  font-size: 14px;
}
.custom-banner:hover .bg-custom{
  display: block;
  transition: 0.8s;
}
.no-paddinh{
  padding: 0px;
}
/* /////////////////css-tin tÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©c//////////////// */
.bg-new{
  background-color: #E4E4E4;
}
.title-new a{
  color: #292929;
  font-size: 18px;
  font-family: Bold;
  margin: 10px 0px;
  display: block;
}
.title-new a{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.title-new a:hover{
  color: #1371B9;
}
i.fa.fa-clock-o{
  font-size: 20px;
  margin-right: 10px;
  color: #14141487;
}
.time-new span{
  font-size: 14px;
  color: #171717;
  font-family: Regular;
}
.desc-new p{
  font-size: 14px;
  color: #141414;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-family: Regular;
}
.new-right a{
  font-size: 14px;
}
.box-view-all a{
  color: #0D3996;
  margin-right: 10px;
  font-family: Regular;
}
.box-view-all a:hover{
  color: red;
}
.box-view-all i{
  font-size: 20px;
  color: #0D3996;
  position: absolute;
}
.box-view-all{
  padding: 40px 0px;
}
.div-img{
  overflow: hidden;
}
 /* css- san-pham */
.hexagon img{
  margin: 0 auto;
  display: block;
}
.no-mg{
  margin: 0px 60px;
}
.title-product a{
  color: #363430;
  font-size: 18px;
  font-family: Bold;
}
.title-product a:hover{
  color: #004FA1;
}
.title-product{
  padding: 30px 0px;
  color: #363430;
  font-size: 18px;
  font-weight: bold;
}
.bt-0{
  margin-top: -50px;
  margin-bottom: 50px;
}
.box-all-new{
  margin-bottom: 20px;
}
/* ////////////css-dÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â± ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡n/////////////// */
.bg-da{
 background-image: url(../images/bg-ft.png);
 background-size: cover;
 background-position: center center;
}
.title-index-kh.da h2{
  color: #fff;
}
.time-new{
  margin:10px 0px;
}
/* ////////////////css-why////////////// */
.box-why-img{
  margin-bottom: 50px;
}
/*////////////////css dang ky//////////////////*/
.header-area .main-header-area.dky{
  background-color: #0D3996;
}
.header-area .main-header-area.dky .main-menu ul li a,
.header-area .main-header-area.dky .seach_icon a i{
  color: #fff;
  text-transform: uppercase;
}
.login-page {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 70px 0;
}

.login-page .login-content {
    width: 570px;
    border-radius: 4px;
    box-shadow: 0 2px 20px 0 #2a50931c;
    background-color: #ffffff;
    margin: auto;
    padding: 20px 100px;
    margin-top: 20px;
}
.no-border{
  border: 1px solid #ced4da !important;
}
.login-page .login-content .additional-info {
    color: red;
    font-weight: 600;
}
.show-password i{
  color: #7B7B7B;
  font-size: 20px;
  margin-top: 42%;
}
.login-page .login-content .btn-login {
    margin-top: 25px;
    width: 100%;
    height: 55px;
    background-color: #0D3996;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
}
.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0);
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5);
}
.login-page .login-content .login-form .form-header h1,
.login-page .login-content .login-form .form-header h3 {
    height: 24px;
    font-size: 18px;
    font-weight: 600;
    color: #2a2a2a;
    text-align: center;
    margin-bottom: 24px;
}
.login-page .login-content .login-form .form-body .invalid-feedback {
    padding: 0 16px;
}
.login-page .login-content .login-form .form-body input[type="checkbox"] {
    width: 21px;
    height: 21px;
    border-radius: 3px;
    background-color: #f4f4f4;
    margin-left: 4px;
    margin-top: 0;
}
.login-page .login-content .login-form .form-body .show-password {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
}
.login-page .login-content .login-form .form-body .remember {
    height: 15px;
}
.login-page .login-content .login-form .form-body .remember label span {
    height: 19px;
    font-size: 14px;
    color: #2a2a2a;
    margin-left: 30px;
}
.login-page .login-content .login-form .form-body .remember a {
    font-size: 14px;
    float: right;
    color: #1877F2;
}
.login-page .login-content .login-form .form-body .btn-send-email {
    margin-top: 0px;
    margin-bottom: 10px;
}
.login-page .login-content .login-form .form-body .register-now {
    text-align: center;
    margin-bottom: 19px;
}
.login-page .login-content .login-form .form-body .register-now a {
    color: #777777;
    font-size: 14px;
    cursor: pointer;
}
.login-page .login-content .login-form .form-body .register-now a span {
    color: #777777;
    font-size: 14px;
}
.login-page .login-content .login-form .form-body .register-now a span:last-of-type {
    color: #1877F2;
}
.login-page .login-content .login-form .form-body .register-now a:hover {
    text-decoration: underline !important;
}
.login-page .login-content .login-form .form-body .register-or {
    text-align: center;
    margin-top: 28px;
    margin-bottom: -10px;
}
.login-page .login-content .login-form .form-body .register-or span {
    color: black;
    font-size: 14px;
    position: relative;
    top: -26px;
    padding: 0 20px;
    background: #fff;
}
.login-page .login-content .login-form .form-body .facebook button {
    width: 100%;
    height: 40px;
    background-color: #3f5d94;
    font-size: 14px;
}
.login-page .login-content .login-form .form-body .facebook button .fa-facebook-f {
    margin-right: 7px;
}
.login-page .login-content .login-form .form-body .instruction {
    font-size: 14px;
    color: #777777;
}
.login-page .login-content .register-form .form-body .facebook {
    margin-top: 18px;
}
.login-page .login-content .register-form .form-body input[type="text"] {
    margin-top: 0;
}
.login-page .login-content .register-form .form-body .btn-login {
    margin-top: 0;
}
.login-page .login-content .forgot-password-done {
    text-align: center;
    padding: 50px;
}
.login-page .login-content .forgot-password-done img {
    margin-bottom: 30px;
}
.login-page .login-content .forgot-password-done p {
    font-size: 14px;
    color: #777777;
    text-decoration: underline;
}
.login-page .login-content .forgot-password-done p span {
    font-weight: 600;
    color: #2a2a2a;
}
.login-page .login-content .reset-password-done {
    padding: 25px;
}
.login-page .login-content .reset-password-done h3 {
    font-size: 18px;
    font-weight: 600;
    color: #2a2a2a;
    margin-bottom: 28px;
}
.login-page .login-content .reset-password-done .avatar img {
    width: 69px;
    height: 66px;
}
.login-page .login-content .reset-password-done .avatar span {
    font-size: 18px;
    line-height: 2.11;
    color: #2a2a2a;
    margin-left: 16px;
}
.login-page .login-content .reset-password-done hr {
    height: 3px;
}
.login-page .login-content .reset-password-done .bottom-message {
    margin-top: 28px;
    text-align: center;
    margin-bottom: 29px;
}
.login-page .login-content .reset-password-done .bottom-message img {
    width: 47px;
    height: 47px;
    margin-bottom: 19px;
}
.login-page .login-content .reset-password-done .bottom-message p {
    font-size: 14px;
    color: #777777;
}
.login-page .login-content .reset-password-done .reset-submit {
    margin-top: 0;
}
.form-group {
    position: relative;
}
.form-group {
    margin-bottom: 1.5rem;
}
button.btn-custom {
    font-weight: 500;
    border-radius: 5px;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1rem;
    width: 100%;
}
.justify-content-center {
    display: flex;
    justify-content: center;
}
.btn-facebook {
    width: 100%;
    height: 55px !important;
    background-color: #3f5d94 !important;
    font-size: 14px !important;
    color: #fff !important;
    transition-duration: 0.3s;
}
.justify-content-center {
    justify-content: center !important;
}
.ml-2, .mx-2 {
    margin-left: 0.5rem !important;
}
.dky h2::after {
    content: "";
    position: absolute;
    max-width: 70px;
    background-color: #FED266;
    height: 3px;
    width: 100%;
    top: 50px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.dky h2{
  color: #0D3996;
  font-size: 36px;
  position: relative;
  margin: 20px 0px;
  margin-bottom: 55px;
}
.h-55{
  height: 55px;
  padding-left: 50px;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
button.btn-custom a{
  line-height: 42px;
  color: #fff;
}
button.btn-custom a i{
  margin-right: 10px;
}
button.btn-google{
  background-color: #1877F2;
}
.input-group-prepend {
    margin-right: 0px;
    position: absolute;
    display: block;
    top: 20%;
    left: 3%;
}
.input-group-text {
    background-color: unset;
    border: none;
}
.top-0{
  top: 0px;
}
.bg-dky{
 background-image: url('../images/bg-dy.png');
 background-repeat: no-repeat; 
 background-size: cover;
}
button.btn-facebook:hover{
 background-color: #1877F2 !important;
}
button.btn-google:hover{
 background-color: #3f5d94  !important;
}

.form-check{
  padding-left: 0px;
}
.video_bg {
    background-image: url(../images/img-video.png);
}
.slide-big1 img{
  padding: 0px 10px;
}
a.view-more:hover{
  background-color: #fff;
  color: #0D3996;
  border: 1px solid #0D3996;
}
.slide-big{
  width: 770px;
  height: 575px;
  margin: 0 auto;
  margin-right: 42px;
  top: -300px;
}
.slide-big.slick-initialized.slick-slider img{
  height: 575px;
}
.box-da{
   position: relative;
   display: block;
   height: 600px;
   margin-bottom: 200px;
}

.box-da .slick-prev{
  position: absolute;
  left: -27px;
  top: -10%;
  bottom: 0;
  width: 50px;
  z-index: 9;
  height: 50px;
  border: none;
  background: #FED266 0% 0% no-repeat padding-box;
  margin: auto;
  padding: 0;
  text-indent: -8000px;
  outline: none;
  border-radius: 0 !important;
  opacity: 0.8;
}
.box-da .slick-prev:before{
  content: "";
  position: absolute;
  left: 19px;
  top: 29px;
  width: 15px;
  height: 3px;
  background: #fff;
  transform: rotate(40deg);
  border-radius: 15px;
}
.box-da .slick-prev:after{
 content: "";
 position: absolute;
 left: 19px;
 top: 21px;
 width: 15px;
 height: 3px;
 background: #fff;
 transform: rotate(-40deg);
 border-radius: 15px;
}
.box-da .slick-next {
    position: absolute;
    right: -23px;
    top: -10%;
    bottom: 0;
    width: 50px;
    height: 50px;
    z-index: 99;
    border: none;
    background: #FED266 0% 0% no-repeat padding-box;
    margin: auto;
    padding: 0;
    text-indent: -8000px;
    outline: none;
    border-radius: 0 !important;
    opacity: 0.8;
    }
.box-da .slick-next:before{
  content: "";
  position: absolute;
  left: 19px;
  top: 29px;
  width: 15px;
  height: 3px;
  background: #fff;
  transform: rotate(-40deg);
  border-radius: 15px;
}
.box-da .slick-next:after{
  content: "";
  position: absolute;
  left: 19px;
  top: 21px;
  width: 15px;
  height: 3px;
  background: #fff;
  transform: rotate(40deg);
  border-radius: 15px;
}
.slide-left {
  width: 270px;
  position: absolute;
  bottom: -80px;
  height: 221px;
  margin-left: 0px;
}
.slide-right{
  width: 220px;
  height: 262px;
  position: absolute;
  bottom: 30px;
  right: -5px;
}
.slide-right img{
  width: 100% ;
  height: 100% ;
}
.slide-left img{
  width: 100% ;
  height: 100% ;
}
.title-content-da{
  position: absolute;
  margin-top: 50px;
}
.title-content-da h3{
  color: #141414;
  font-size: 20px;
  font-family: Bold;
  position: relative;
  margin-bottom: 30px;
}
.title-content-da h3:after{
  content:url('blackCarrot.png');
  background-image: url(../images/elip-bt.png);
  position: absolute;
  left: 0px;
  z-index: 99;
}
.title-content-da p{
  color: #141414;
  font-family: Regular;
  font-size: 14px;
  margin: 10px 0px;
}
.title-content-da h4{
  color: #141414;
  font-size: 14px;
  font-family: Bold ;
}
.title-content-da a{
  font-family: Regular;
  font-size: 16px;
  color: #0D3996;
  padding: 10px 40px;
  border: 1px solid #0D3996;
  border-radius: 5px;
  margin-left: 20px;
}
.td-img{
  width: 270px;
  height: 185px;
  overflow: hidden;
}
.td-img img{
  height: 100%;

}
.box-vt-td{
  display: flex;
  margin: 20px 0px;
}
.desc-td h3{
  font-size: 14px;
  color: #141414;
  font-family: Bold; 
}
.desc-td{
  margin-left: 20px;
}
.desc-td p{
  font-size: 14px;
  color: #141414;
  font-family: Regular;
}
.desc-td a{
  color: #0D3996;
  border: 1px solid #0D3996;
  font-family: Regular;
  font-size: 16px;
  padding: 10px 25px;
  border: 1px solid #0D3996;
  border-radius: 5px;
  margin: 20px 0px;
  display: inline-block;
}
.desc-td a:hover{
    color: #fff;
}
.title-content-da-index {
    position: relative;
    width: 420px;
    overflow: hidden;
}
.title-content-da-index h3:after{
  content:url('../images/carot.png');
  position: absolute;
  left: 0px;
  z-index: 999;
}
.title-index-kh.da-index h2 {
    color: #fff;
    font-size: 28px;
    font-family: Bold;
}
.title-content-da-index h3 {
    color: #fff;
    font-size: 20px;
    font-family: Bold;
    position: relative;
    margin-bottom: 30px;
}
.title-content-da-index h4 {
    color: #fff;
    font-size: 14px;
    font-family: Bold;
}
.title-content-da-index p {
    color: #fff;
    font-family: Regular;
    font-size: 14px;
    margin: 10px 0px;
}
.title-content-da-index a.view-more{
  color: #fff;
  border: 1px solid #0D3996;
  font-family: Regular;
  font-size: 16px;
  padding: 10px 40px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 20px 0px;
  display: inline-block;
}
.title-content-da-index a.view-more:hover{
  color: #0D3996;
  background-color: #fff;
 
}
/*////////////////////////////////////////css-trang tuyen dung-1////////////////////////*/
.bradcam_bg_3 {
  background-image: url(../images/bn-td.png);
}
.bradcam_area::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #040E27;
  opacity: 0.3;
  z-index: -1;
  content: '';
}
.slider_text.text-center h2{
  font-size: 30px;
  color: #fff;
}
.breadcrumb-tin ul {
    width: 100%;
    margin-top: 0;
}
.breadcrumb-tin ul {
    float: left;
    padding: 0px;
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dichvu_ ul {
    list-style: none;
}
.breadcrumb-tin ul li {
    list-style: none;
    float: left;
}
.breadcrumb-tin ul li a, .ic-time span{
    font-size: 14px;
    margin-right: 5px;
    font-family: Regular;
   
}
.ic-time span{
  color:  #171717;
}
.breadcrumb-tin ul li a.active {
    color: #0D3996;
}
.contact-title {
  font-size: 23px;
  margin-bottom: 20px;
  font-family: Bold;
}
.box-all-icon{
  float: left;
  display: flex;
  
}
.box-all-icon{
  margin-bottom: 15px;
}
.box-bd-bt{
  border-bottom: 1px solid #E2E2E2;
  width: 100%;
  padding-bottom: 15px;
}
.ic-time{
  margin-right: 50px;
  display: flex;
  margin: 10px 0px;

}
.photo-pade img{
  margin-left: 15px;
}
.photo-pade a{
   color: #101010;
   margin-left: 10px;
}
.content-td img{
  margin: 0 auto;
  display: block;
  padding: 15px 0px;
}
.content-td p{
  font-size: 14px;
  color: #292929;
  font-family: Italic;

}
.boder-r .contact-info:last-child{
  border-bottom: none !important;
}
.content-td h4{
  font-size: 16px;
  color: #292929;
  font-weight: bold;
}
.boder-r{
  border: 1px solid #0C4B9F;
  padding: 15px;
}
.contact-info {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E2E2E2;
}
.media-body h3{
  font-size: 14px;
  font-family: Bold;
  color: #292929;
}
.contact-info .media-body p {
  color: #292929;
  font-size: 14px;
}
.contact-info__icon {
  margin-right: 20px;
  width: 30px;
}

.top-0{
  top: 0px;
}
.box-td img{
  width: 100%;
  position: relative;
}
.box-td .slider_text-td h2{
 position: absolute;
 display: block;
 top: -101px;
 left: 45%;
 color: #FFFFFF;
 font-size: 30px;
 font-family: Bold;
 z-index: 2;
 text-transform: uppercase;
}

.box-td.wow.rollIn.top-0.overlay.overlay:before {
    position: absolute;
    content: "";
    background-color: #040E27;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
}
/*///////////////////////////////////css trang tuyen dung////////////////////*/
.slider_bg_td1{
  background-image: url(../images/tuyen-dung.png);
}
.slider_bg_td2{
  background-image: url(../images/bn5.jpg);
}
.slider_text.td h2{
  color: #141414;
  font-size: 16px;
  font-family: Regular;
  position: relative;
}
.slider_text.td h1{
  color: #0D3996;
  font-size: 31px;
  font-family: Bold;
  position: relative;
  margin: 20px 0px;
  display: block;
}
.slider_text.td h2:after{
  content: "";
  position: absolute;
  width: 8%;
  height: 2px;
  background-color: #0D3996;
  left: 0px;
  bottom: -5px;

}
.slider_text.td p{
  font-size: 16px !important;
  font-family: Medium;
  color: #141414 !important;
  margin: 0px !important;
}
.slider_text.td a{
 color: #004FA1;
 border: 1px solid #004FA1;
 font-size: 14px;
 padding: .6rem 2rem;
 line-height: 1.25;
  margin: 30px 0px;
  display: inline-block;
  border-radius: 5px;
}
.slider_text.td a:hover{
  color: #FFFFFF !important;
  background-color: #004FA1 !important;
  font-size: 14px;
  padding: .6rem 2rem;
  line-height: 1.25;
}
.content-td p{
  color: #141414;
  font-family: Regular;
  color: #141414;
}
.box-img-top-center.img-tin{
  height: 280px;
}
.box-img-top-center.img-tin a img{
  height: 100%;
  padding: 0px;
}
.tin-td h2{
  color: #0D3996;
  font-size: 18px;
  font-family: Regular ;
  text-align: center;
}
.tin-td p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 30px;
}

.box-luong{
  background-color: #F5F5F5;
}
.td p{
   overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  margin-top: 30px;
  font-size: 14px;
  font-family: Regular;
}
.td h3{
  color: #141414;
  font-size: 24px;
  font-family: Bold;
  position: relative;
}
.slide-td img{
  width: 540px;
  height: 360px;
}
.slide-left-datb{
  width: 540px;
  height: 350px;
}
.td h3:after{
  content: "";
  position: absolute;
  bottom: -15px;
  width: 70px;
  height: 4px;
  left: 35px;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 2px;
  background-color: #FED266;
}
/*css-chi tiet tin tuc*/
h2.contact-title.title-tin-tuc{
  font-size: 18px;
  color: #292929;
}
.content-chi-tiet-tt p{
  color: #292929;
  font-size: 14px;
  font-family: Regular;
}
.img-nxet{
  position: relative;
  display: block;
   padding: 0px 75px;
}
.img-nxet p{
  padding: 0px 75px;
  font-size: 10px;
  font-family: Regular;
  color: #141414;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 10px;
}
.no-border{
  border: none !important;
  padding: 10px 20px;
  background-color: #F5F5F5;
}
.nguon{
  position: absolute;
  right: 35px;
}
.nguon a{
  color: #004FA1;
  font-size: 14px;
  font-family: Italic;
}
.title-col-3-ct h2{
  font-size: 18px;
  color: #fff;
  font-family: Bold ;
  background-color: #0D3996;
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 15px;
}
.box-tin-col-3 a{
  color: #292929;
  font-size: 14px;
  font-family: Medium;
  display: block;
}
.box-tin-col-3 a:hover,.box-tin a:hover{
  color: #0D3996;
  font-weight: bold;
}
.box-tin-col-3 img{
  display: block;
  width: 100%;
  height: 100%;
}
.box-tin-col-3{
  margin: 20px 0px;
}
.view-all-tin a{
  font-size: 14px;
  font-family: Regular;
  color: #004FA1;
  background-color: #F5F5F5;
  text-align: center;
  padding: 10px 0px;
  display: block;
}
.img-banner-qc img{
  width: 100%;
  margin: 0 auto;
  display: block;
  margin: 20px 0px;
}
/*css-du an tieu bieu*/
.slider_datb_2{
  background-image: url(../images/banner-duan-tb.png);
}
.slider_datb_1{
  background-image: url(../images/bn4.png);
}
.slider_text.text-center.slide-datb h2{
  font-size: 40px;
  text-transform: uppercase;
  font-family: Bold;
  position: relative;
  z-index: 9;
}
.slider_text.text-center.slide-datb h2:after{
 content: "";
 position: absolute;
 bottom: -20px;
 width: 70px;
 height: 4px;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
 border-radius: 2px;
 background-color: #FFFFFF;
}
.title-datb h2{
  color: #141414;
  font-size: 24px;
  font-family: Bold;
  margin: 35px 0px;
}
.title-datb h2:after{
   content: "";
 position: absolute;
 bottom: 20px;
 width: 70px;
 height: 4px;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
 border-radius: 2px;
 background-color: #FED266;
}
.bg-color{
  background-color: #F5F5F5;
  padding: 0px 55px;
}
.title-content-da.datb h3{
  color: #141414;
  font-size: 28px;
  font-family: Bold;
}
.title-content-da.datb p,.title-content-da.datb h4,{
  color: #141414;
}
.title-content-da.datb a .td a{
  color: #0D3996;
  border:1px solid #0D3996;
  margin-left: 0px;
}

.slide-left-datb .slick-prev{
  position: absolute;
  left: 0px;
  z-index: 999;
  top: -10px;
  bottom: 0;
  width: 25px;
  height: 80px;
  border: none;
  background: #1371B9 0% 0% no-repeat padding-box;
  margin: auto;
  opacity: 0.5;
  padding: 0;
  text-indent: -8000px;
  outline: none;
  border-radius: 3px;
}
.slide-left-datb .slick-next{
 position: absolute;
 right: 0px;
 top: -10px;
 bottom: 0;
 width: 25px;
 z-index: 999;
 height: 80px;
 border: none;
 background: #1371B9 0% 0% no-repeat padding-box;
 margin: auto;
 opacity: 0.5;
 padding: 0;
 text-indent: -8000px;
 outline: none;
 border-radius: 3px;
}
.slide-left-datb .slick-prev:before{
  content: "";
    position: absolute;
    left: 5px;
    top: 45px;
    width: 15px;
    height: 3px;
    background: #fff;
    transform: rotate(40deg);
    border-radius: 15px;
}

.slide-left-datb .slick-next:before{
  content: "";
  position: absolute;
  left: 8px;
  top: 45px;
  width: 15px;
  height: 3px;
  background: #fff;
  transform: rotate(-40deg);
  border-radius: 15px;
}
.slide-left-datb .slick-prev:after{
  content: "";
    position: absolute;
    left: 5px;
    top: 36px;
    color: #fff;
    z-index: 99;
    width: 15px;
    height: 3px;
    background: #fff;
    transform: rotate(-40deg);
    border-radius: 15px;
}
.slide-left-datb .slick-next:after{
  content: "";
    position: absolute;
    left: 8px;
    top: 36px;
    width: 15px;
    height: 3px;
    background: #fff;
    transform: rotate(40deg);
    border-radius: 15px;
}
.box-bt img{
  width: 100%;
  height: 260px;

}
.box-bt{
  background: #898c8f1f 0% 0% no-repeat padding-box;
  margin: 15px 0px;
}
.content-bt{
  padding: 20px 20px;
}
.content-bt a:hover{
  color: #0D3996;
}
.content-bt h3{
  color: #0D3996;
  font-family: Regular;
  font-size: 14px;
  margin-left: 50px;
  position: relative;
}
.content-bt a{
  color: #1C1B19;
  font-family: Bold ;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.content-bt h3:before{
  content: "";
  width: 15%;
  height: 1px;
  background-color: #0D3996;
  position: absolute;
  left: -50px;
  display: block;
  top: 8px;
}
.content-bt p{
  color: #1C1B19;
  font-family: Regular ;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.view-more{
  color: #0D3996;
  border: 1px solid #0D3996;
  font-family: Regular;
  font-size: 16px;
  padding: 10px 40px;
  border: 1px solid #0D3996;
  border-radius: 5px;
  margin: 20px 0px;
  display: inline-block;
}
a.view-more:hover{
  color: #fff;
}
.title-content-da.datb{
  position: inherit;
}
/*css-decoer-tt*/
.slide-decor-tt1{
  background-image: url(../images/decortt.png);
}
.slide-decor-tt2{
  background-image: url(../images/bn5.jpg);
}

.single_slider.d-flex.align-items-center .overlay:before {
    position: absolute; 
    content: "";
    background-color: #040E27;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: .2;
}
.p-slider .owl-nav div.owl-prev{
  background: rgba(19, 113, 185, .2) 0% 0% no-repeat padding-box;
}
.p-slider .owl-nav div.owl-next{
  background: rgba(19, 113, 185, .2) 0% 0% no-repeat padding-box;
}
.p-slider .owl-nav div.owl-prev:hover, .p-slider .owl-nav div.owl-next:hover{
 background-color: #0D3996;
}
/*css-thiet bi bep robam*/
.slide-robam-t1{
    background-image: url(../images/bn-robam.png);
}
.slide-robam-t2{
    background-image: url(../images/bn4.png);
}
.d-product ul li{
    width: 100%;
    display: inline-flex;
}
.head_banner .rem{
  left: -3px;
}
/*css-trang tin*/
.tin .title h2{
  color: #141414;
  font-size: 18px;
  font-family: Medium;
  margin-bottom: 0px;
}
.menu-dm-tin ul li{
  text-align: center;
  padding: 10px 20px;
  color: #141414;
  font-size: 18px;
  font-family: Medium;
  border: 1px solid #C5C5C5;

}
 .menu-dm-tin h2{
  font-size: 18px;
  color: #fff;
  font-family: Medium ;
  background-color: #0D3996;
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 0px;
  text-transform: uppercase;

}
.menu-dm-tin ul li:hover{
  background-color: #0D3996;

}
.menu-dm-tin ul li:hover a{
  color: #fff;

}
.box-tin a{
  color: #292929;
  font-size: 18px;
  font-family: Medium;
  margin: 15px 0px;
  display: block;
}
.box-tin p{
  font-family: Regular;
  font-size: 14px;
  color: #141414;
  margin: 10px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.box-img-top{
   overflow: hidden;
   height: 350px;
}
.box-img-top a{
  margin-top: 0px;
}
.box-img-top a img {
  height: 100%; 
  width: 100%;
}
.box-tin-col-3 .box-img-top-center a{
  height: 100%;
  width: 100%;
  display: block;
}

.box-tin-col-3 a,.box-tin a{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.box-img-top-center{
  height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
}
.no-pd-left{
  padding-left: 10px;
}
/*.css-quen-mk*/
.tbao p{
  text-align: center;
  color: #141414;
}
.tbao p strong{
  font-size: 18px;
  font-family: Regular ;
  color: #0D3996;
}
.tbao img{
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}
.show-password.quen i {
    color: #7B7B7B;
    font-size: 20px;
    margin-top: 175%;
}
.form-body form .form-group label{
  font-family: Regular;
  color: #141414;
}
.box-all-new .div-img{
  height: 417px;
  overflow: hidden;
}
.box-all-new .div-img.right{
  height: 200px;
  overflow: hidden;
}
.box-all-new .div-img img,.box-all-new .div-img.right img, .if-map img,.thu-ngo img{
 width: 100%;
 height: 100%;
}
/*css-lien he*/
.box-lh h3{
  font-size: 14px;
  font-family: Bold;
  color: #141414;
  text-transform: uppercase;
}
.box-lh hr{
  background-color: #0D3996;
  position: relative;
}
.box-lh hr:before{
  content: "";
  position: absolute;
  height: 5px;
  width: 18%;
  background-color: #0D3996;
  left: 0px;
  bottom: -2px;
}
.h-48{
  height: 48px;
}
.w-48 {
    width: 48%;
}
.textarea{
  width: 100%;
  background-color: #F5F5F5;
  border:none;
}
#lienhe button{
  margin-top: 25px;
  width: 36%;
  height: 55px;
  background-color: #0D3996;
  color: #FFFFFF;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}
#lienhe button:hover{
 background-color: #1877F2;
}
#lienhe label{
  color: #141414;
  font-size: 14px;
  font-family: Bold;
}
#lienhe input{
  background-color: #F5F5F5; 
}
.box-lh img{
  margin: 20px 0px;
}
.content-lh h2{
  color: #141414;
  font-size: 16px;
  font-family: Bold;
}
.address-lh img{
  margin-right: 20px;
  width: 20px;
  height: 27px;
}
.address-lh{
  display: flex;
}
.address-lh strong{
  font-size: 16px;
  color: #141414;
  font-family: Bold;
}
.address-lh p{
  font-size: 14px;
  color: #141414;
  font-family: Regular;
  margin-top: 20px;
}
/*css gioi thieu*/
.thu-ngo{
  position: relative;
  z-index: 99;
}
.thu-ngo-2 img{
  position: absolute;
  width: 472px;
  height: 442px;
  top: -160px;
  right: -400px;
}
.main-section.gt{
  position: relative;
}
.su-menh img{
  position: relative;
  right: -400px;
}
.su-menh .su-menh-1 img{
  position: absolute;
  top: 101px;
  right: -445px;
} 
.su-menh .su-menh-2 img{
  position: absolute;
  top: 322px;
  left: 348px;
}
.intro-content.su-menh p{
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    min-height: 105px;
}
.intro-content.su-menh.gtcl p{
   overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    min-height: 85px;
}
.img-su-menh{
  height: 412px;
  width: 730px;
}
.su-menh-2.gtcl img{
  position: absolute;
    top: 360px;
    left: 348px;
}
.su-menh-1.gtcl img{
    position: absolute;
    top: 60px;
    right: -445px;
}
.gia-tri-cl{
   height: 486px;
   width: 730px;
}
.bg-tt{
  background-image: url(../images/bg-tt.png);
  background-size: cover;
  transform: translateY(-242px);
}
.no-tranform{
  transform: translateY(-242px);
}
.gia-tri{
  position: relative;
}
.intro .bg-slide-tt{
  width: 270px;
  height: 342px;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
      margin: 0px 10px;
}
.bg-slide-tt img{
  margin: 0 auto;
}
.row.intro.bg-tt button.slick-next.slick-arrow {
  position: absolute;
  right: -30px;
  top: -10px;
  bottom: 0;
  width: 30px;
  height: 30px;
  border: none;
  background: #ffffff61 0% 0% no-repeat padding-box;
  margin: auto;
  padding: 0;
  text-indent: -8000px;
  outline: none;
  border-radius: 3px;
}
.row.intro.bg-tt button.slick-prev.slick-arrow {
  background: #ffffff61 0% 0% no-repeat padding-box;
}
.row.intro.bg-tt h1.intro-title{
  color: #fff;
   margin-bottom: 30px;
}
.row.intro.bg-tt h1.intro-title:before{
  content: "";
  position: absolute;
  height: 3px;
  width: 50px;
  background-color: #fff;
  transform: translate(-150%, 400%);
}
.img-td img{
  width: 100%;
  height: 100%;
}
.img-td,.slide-td,.box-img-top-center,.slide-left-datb,.img-du-an,.img-ct-phong-ngu,.div-img,.p-head{
  position: relative;
  overflow: hidden;
}
.img-td:before,.slide-td:before,.box-img-top-center:before,.slide-left-datb:before,
.img-du-an:before,.img-ct-phong-ngu:before,.div-img:before,.p-head:before{
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.img-td:hover:before,.slide-td:hover:before,.box-img-top-center:hover:before,.slide-left-datb:hover:before,
.img-du-an:hover:before,.img-ct-phong-ngu:hover:before,.div-img:hover:before,.p-head:hover:before{
    -webkit-animation: shine 1.5s;
    animation: shine 1.5s;
    left: 75%;
    transition: 1s;
}
.title2 p{
  font-family: Regular;
  font-size: 14px;
  color: #111111;
}
.title-showroom h2{
  color: #141414;
  font-family: Bold;
  font-size: 18px;
  background-color: #F5F5F5;
  padding: 15px 0px;
  display: block;
}
.showroom-4 .form-control{
  background-color: #0D3996;
  color: #fff;
  border-radius: 0 !important;
  border: 0px solid #0D3996;
}
.echo-addrees{
  border: 1px solid #0D3996;
  max-height: 510px;
  overflow-y: scroll;
}
.dc{
  display: flex;
  margin: 20px 20px;
}
.dc img{
  height: 20px;
  margin-right: 30px;
}
.desc-sr h3{
  color: #0D3996;
  font-family: Bold;
  font-size: 14px;
}
.desc-sr p{
  color: #363430;
  font-family: Regular;
  font-size: 14px;
}
.bg-title-content-bt{
  background-color: #F5F5F5;
}
.bg-title-content-bt h2{
  color: #141414;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0px;
  display: block;
  margin-bottom: -3px;
}
.desc-ctiet p{
  font-family: Regular ;
  font-size: 14px;
  color: #141414;
  margin-top: 20px;
}
/*css-thong tin tai khoan*/
.avatar-tk>img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  top: -65px;
  margin: 0 auto;
  display: block;
}
.avatar-tk{
  border-right: 1px solid #F6F6F6;
}
.bd-right{
  background-color: #fff;
}

.avatar-tk input{
  width: 20%;
  position: absolute;
  z-index: 99;
  opacity: 0;
  right: 63px;
  cursor: pointer;
  height: 36%;
  top: 0px;
}
.camera-tk{
  position: absolute;
  right: 65px;
  top: 10px;
}
.desc-tk ul{
  text-align: left;
  margin-left: 30px;
  margin-top: -30px;
  margin-left: 70px;
}
.af,.af2{
  position: relative;
}
.af:after{
  content: url(../images/avata2.png);
  left: 0px;
  bottom: 0px;
  position: absolute;
  left: -35px;
}
.af2:after{
  content: url(../images/out.png);
  left: 0px;
  bottom: 0px;
  position: absolute;
  left: -35px;
}
.tt-tk-left{
  width: 48%;
  float: left;
}
.tt-tk-left input,.tt-tk-right input{
  height: 40px;
}
.tt-tk-right{
  width: 48%;
  float: right;
}
.form-tt-lh label,.needs-validation label{
  font-family: SemiBold;
  font-size: 14px;
  color: #171717;
}
.dc-add-drees select{
  height: 40px;
  padding: 1px 30px;
  border: 1px solid #ABABAB;
  border-radius: 3px;
  outline: none;
  margin-bottom: 15px;
  margin-right: 15px;
}
.chiller_cb input{
  border-radius: 50%;
}
.box-tkhoan .needs-validation button{
  text-align: center;
  display: block;
  margin: 0 auto;
  height: 40px;
  padding: 0px 40px;
  border: none;
  background-color: #0D3996;
  color: #fff;
  font-family: Regular;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.needs-validation button i{
  margin-right: 20px;
  font-size: 18px;
}
.img-why-pc>img{
  margin: 0 auto;
  display: block;
  position: relative;
}
.img-1{
  position: absolute;
  top: 0px;
  left: 88px;
}
.img-why-pc .desc-why h3{
  font-size: 14px;
  font-family: Bold;
  color: #363430;
}
.desc-why{
  position: absolute;
  text-align: right;
  display: inline-block;
  right: 275PX;
  width: 305px;
  top: 10px;
}
.desc-why p{
  line-height: 26px;
  font-family: Regular;
  
  font-size: 13px;
  
  color: #272A39;
}
.img-2{
  position: absolute;
  top: 38%;
  left: 31px;
}
.desc-why-02{
  right: 190px;
}
.img-3{
 position: absolute;
 left: 91px;
 bottom: 0px;
}
.desc-why-03{
  right: 275px;
}
.img-4{
 right: 89px;
    position: absolute;
    top: 5px;
}
.desc-why-04{
  right: -120px;
  text-align: left;
}
.img-5{
 right: 31px;
 position: absolute;
 top: 36%;
}
.desc-why-05{
  right: -130px;
  text-align: left;
}
.img-6{
 right: 94px;
 position: absolute;
 bottom: 0px;
}
.desc-why-06{
  right: -130px;
  text-align: left;
}
.z-index{
  position: relative;
  z-index: 9;
}
#back2Top img{
  transform: rotate(90deg);
  margin-right: 0px;
  float: none;
  margin: 0 auto;
}
.biet-thu .slide-big {
    top: 0px;
}
.biet-thu .slide-left {
    bottom: 15% !important;

}
.biet-thu {
  margin-bottom: 50px !important;
}
.item .p-head h5:hover{
  color: #0D3996;
}
@media all and (min-width: 800px) {
  .fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right : 0;
    height: 95px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
  }
}
.img-ct-phong-ngu p {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    text-align: center;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.img-ct-phong-ngu p {
  font-family: Bold;
  font-size: 14px;
  color: #fff;
}
.img-ct-phong-ngu:hover p {
    bottom: 30px;
}
.no-magin{
  margin-right: -15px;
}
.sr-ao img{
  width: 100%;
}

