
.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 30px;
  z-index: 9;
  position: relative;
}

@media (max-width: 767px) {
  .header-area {
    padding-top: 0;
    top: 0px;
  }
  .slider_area{
    top: 0px !important;
    margin-bottom: 30px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area {
    padding-top: 0;
  }
}


.header-area .main-header-area {
  background: #fff;
  background: transparent;
  padding: 5px 100px 5px 100px;
  background: #ffffffa6 0% 0% no-repeat padding-box;
}

.header-area .main-header-area.details_nav_bg {
  background: #727272;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .header-area .main-header-area.details_nav_bg {
    padding-bottom: 10px;
  }
}


.header-area .main-header-area.details_nav {
  background: #001D38;
}

@media (max-width: 767px) {
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area {
    padding: 8px 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area {
    padding: 7px 20px;
  }
}

.header-area .main-header-area .logo-img {
  text-align: center;
}

@media (max-width: 767px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

.header-area .main-header-area .main-menu {
  padding: 12px 0;
  position: relative;
}

.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 35px 0 0;
}

@media (min-width: 992px) and (max-width: 1200px) {

  .header-area .main-header-area .main-menu ul li {
    margin-right: 15px;
  }
}


.header-area .main-header-area .main-menu ul li a {
  color: #040E27;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  font-family: "HelveticaNeue", sans-serif;
  position: relative;
  text-transform: capitalize;
}

.header-area .main-header-area .main-menu ul li a:hover {
  color: #0D3996;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .main-menu ul li a {
    font-size: 12px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .main-menu ul li a {
    font-size: 12px;
  }
}

.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 160%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #040E27;
  font-size: 14px;
}

.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #000;
}

.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 225%;
}

.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}


.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -71px;
  left: 0;
  right: 0;
  z-index: 990;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.96);
  height: 55px;
}

@media (max-width: 767px) {

  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

.header-area .main-header-area.sticky .header_bottom_border {
  border-bottom: none;
}

.header-area .main-header-area.sticky .header_bottom_border.white_border {
  border-bottom: none !important;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .social_wrap {
    margin-right: 100px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .social_wrap {
    margin-right: 55px;
  }
}

.header-area .social_wrap .social_links {
  margin-right: 4px;
}

.header-area .social_wrap .social_links li {
  display: inline-block;
}

.header-area .social_wrap .social_links li a {
  display: block;
  color: #AAB1B7;
  font-size: 16px;
  margin: 0 11px;
}
.header-area .social_wrap .social_links li a:hover {
  color: #FF4A52;
}

.header-area .social_wrap .number {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #EAEAEA;
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .social_wrap .number {
    margin-right: 0;
    padding-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .social_wrap .number {
    border-right: 1px solid transparent;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .social_wrap .number {
    border-right: 1px solid transparent;
  }
}

.header-area .social_wrap .number p {
  font-size: 16px;
  color: #040E27;
  margin-bottom: 0;
  font-weight: 400;
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .social_wrap .number p {
    font-size: 14px;
  }
}

.header-area .social_wrap .number p i {
  color: #FF4A52;
  font-size: 16px;
  margin-right: 5px;
}

.header-area .seach_icon {
  position: absolute;
  right: 180px;
  top: 0;
  bottom: 0;
  z-index: 9;
  width: 100px;
}

@media (max-width: 767px) {
  .header-area .seach_icon {
    width: 50px;
    right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .seach_icon {
    width: 100px;
    right: 85px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .seach_icon {
    width: 80px;
  }
}

/* line 343, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
.header-area .seach_icon a {
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100%;
  display: block;
}
.cart-h{
  position: relative;
}
.cart-h span {
    position: absolute;
    right: -10px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    background: red;
    text-align: center;
    border-radius: 50px;
    line-height: 16px;
    padding-right: 0px;
    top: -10px;
    color: #fff;
    font-weight: 500;
}
 .box-login {
    position: absolute;
    width: 265px;
    height: 225px;
    background: #ffffff;
    z-index: 999;
    padding: 25px 15px;
    right: -45px;
    transition: 500ms ease-out 200ms;
    top: 55px;
    opacity: 0;
    display: block;
    visibility: hidden;
}
.box-login::before {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    background: url(../images/ic-top.png);
    width: 22px;
    height: 17px;
    left: 95px;
    right: 0;
    margin: auto;
}

.box-login .btn-login a,.box-login .btn-register a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #fff !important;
    display: block;
    background: #0D3996;
}
.box-login .btn-login a:hover, .box-login .btn-register a:hover{
  background-color: #fad400;
  color: black !important;
}
.box-login .login-or {
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box-login .login-or::before {
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    display: block;
}
.box-login .login-or span {
    position: absolute;
    top: -8px;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ffff;
    width: max-content;
    padding: 0 10px;
    margin: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #2d2d2d;
}
.box-login .public {
    float: left;
    width: 100%;
}
.box-login .public .login-fb,.login-gmail{
    float: left;
    width: 48%;
    background: #0D3996;
    border-radius: 5px;
    height: 40px;
    line-height: 37px;
    text-align: center;
}
.box-login .public .login-gmail {
    float: right;
    background: #1877F2;
}
.user-h:hover .box-login {
    top: 45px;
    opacity: 2;
    display: block;
    visibility: visible;
}

.box-login .btn-login,.btn-register {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}
.login-fb span,.login-gmail span{
  color: #fff;
}
.login-fb:hover, .login-gmail:hover {
      background-color: #334770 !important;
}
.user-h:hover .box-login{
  display: block;
  opacity: 2;
  overflow: visible;
  
}
/* line 349, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
.header-area .seach_icon a i {
  position: absolute;
  left: 50%;
  top: 50%;
  color: black;
  font-size: 20px;
  transform: translate(-50%, -50%);
}