

/*//////////////////////////css-header//////////////////////*/
.header-area .main-header-area .main-menu ul li a:after {
    content: "";
    height: 10px;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: -100%;
    bottom: -9px;
    transition: width 0.3s;
    width: 110%;
    /* display: none; */
    opacity: 0;
    transition: .7s;
    transition: width 0.3s;
}
.header-area .main-header-area .main-menu ul li .submenu li:hover{
  background-color: #0D3996;
}
.header-area .main-header-area .main-menu ul li .submenu li:hover a{
    color: #fff !important;
}
.header-area .main-header-area .main-menu ul li a.active:after {
    content: "";
    height: 10px;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 0%;
    bottom: -9px;
    transition: width 0.3s;
    width: 100%;
    opacity: 1;
    transition: .7s;
    transition: width 0.3s;
    display: block;
}
.header-area .main-header-area .main-menu ul li a {
    transition: color 0.3s ease-in;
    -moz-transition: color 0.3s ease-in;
    -webkit-transition: color 0.3s ease-in;
    -o-transition: color 0.3s ease-in;
}
ul.submenu li a:after{
  display: none;
}
.header-area .main-header-area .main-menu ul li a:hover:after {
    opacity: 1;
    transition: .7s;
    left: 0%;
  }
.logo img{
  position: relative;
  z-index: 99;
}
.bo-1{
 width: 0;
 height: 0;
 position: absolute;
 right: -49px;
 border-top: 100px solid #fff;
 border-right: 50px solid transparent;
}
.bf{
  position: absolute;
  bottom: -10px;
  left: -135px;
  width: 440px;
  height: 200%;
  background-color: #fff;
}
.header-area .main-header-area.sticky .bo-1{
  bottom: -1px;
}
.header-area .main-header-area.sticky .main-menu ul li{
  display: inline-block;
  position: relative;
  margin: 5px 35px 0 0;
}
.header-area .main-header-area.sticky .bf{
    bottom: -4px;
}
.header-area .main-header-area.sticky span{
    top: 15px;
}
.header-area .main-header-area.sticky .box-login .login-or span{
    top: -35px;
}
.header-area .main-header-area.sticky .box-login .login-or{
    margin-top: 36px;
}
.header-area {
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99999999;
  position: relative;
}
.header-area .main-header-area.sticky .box-login{
      margin-top: 40px;
}

.header-area .main-header-area.sticky .main-menu ul li .submenu{
  margin-top: -18px;
}
@media (max-width: 767px) {
  .header-area {
    padding-top: 0;
    top: 0px;
  }
  .slider_area{
    top: 0px !important;
   /* margin-bottom: 0px;*/
  }
  .mobile_menu {
    position: relative;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
  
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area {
    padding-top: 0;
  }
}


.header-area .main-header-area {
  padding: 0px 100px 0px 100px;
  background: #ffffffa6 0% 0% no-repeat padding-box;
  height: 72px;
  line-height: 50px;
}

.header-area .main-header-area.details_nav_bg {
  background: #727272;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .header-area .main-header-area.details_nav_bg {
    padding-bottom: 10px;
  }
}


.header-area .main-header-area.details_nav {
  background: #001D38;
}

@media (max-width: 767px) {
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area {
    padding: 8px 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area {
    padding: 7px 20px;
  }
}

.header-area .main-header-area .logo-img {
  text-align: center;
}

@media (max-width: 767px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

.header-area .main-header-area .main-menu {
   padding: 12px 0; 
  position: relative;
}

.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 35px 0 0;
}

@media (min-width: 992px) and (max-width: 1200px) {

  .header-area .main-header-area .main-menu ul li {
    margin-right: 15px;
  }
}


.header-area .main-header-area .main-menu ul li a {
  color: #040E27;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  position: relative;
  text-transform: capitalize;
  font-family: Regular;
}



@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .main-menu ul li a {
    font-size: 12px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .main-menu ul li a {
    font-size: 12px;
  }
}

.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

.header-area .main-header-area .main-menu ul li .submenu {
  /* margin-top: -52px; */
  position: absolute;
  left: 0;
  top: 160%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
  margin: 0px;
  width: 100%;
}

.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 0px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #040E27;
  font-size: 14px;
  line-height: 45px;
  text-transform: inherit;
}

.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #000;
}

.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 120%;
}

.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}


.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -76px;
  left: 0;
  right: 0;
  z-index: 990;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: #0D3996;
  height: 77px;
  line-height: 70px;
}

@media (max-width: 767px) {

  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

@media (max-width: 1500px) and (min-width: 1200px) {
  .header-area .main-header-area.sticky {
    padding: 12px 10px;
  }
}

.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

.header-area .main-header-area.sticky .header_bottom_border {
  border-bottom: none;
}

.header-area .main-header-area.sticky .header_bottom_border.white_border {
  border-bottom: none !important;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .social_wrap {
    margin-right: 100px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .social_wrap {
    margin-right: 55px;
  }
}

.header-area .social_wrap .social_links {
  margin-right: 4px;
  z-index: 999999;
}

.header-area .social_wrap .social_links li {
  display: inline-block;
  z-index: 999;
}

.header-area .social_wrap .social_links li a {
  display: block;
  color: #AAB1B7;
  font-size: 16px;
  margin: 0 11px;
}
.header-area .social_wrap .social_links li a:hover {
  color: #FF4A52;
}

.header-area .social_wrap .number {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #EAEAEA;
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .social_wrap .number {
    margin-right: 0;
    padding-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .social_wrap .number {
    border-right: 1px solid transparent;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .social_wrap .number {
    border-right: 1px solid transparent;
  }
}

.header-area .social_wrap .number p {
  font-size: 16px;
  color: #040E27;
  margin-bottom: 0;
  font-weight: 400;
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .social_wrap .number p {
    font-size: 14px;
  }
}

.header-area .social_wrap .number p i {
  color: #FF4A52;
  font-size: 16px;
  margin-right: 5px;
}

.header-area .seach_icon {
  position: absolute;
  right: 180px;
  top: 0;
  bottom: 0;
  z-index: 9;
  width: 100px;
}

@media (max-width: 767px) {
  .header-area .seach_icon {
    width: 50px;
    right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .seach_icon {
    width: 100px;
    right: 85px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .seach_icon {
    width: 80px;
  }
}

.header-area .seach_icon a {
  text-align: center;
  color: #fff;
  /* width: 100%; */
  height: 100%;
  display: block;
}
.cart-h{
  position: relative;
}
.cart-h span {
    position: absolute;
    right: -10px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    background: red;
    text-align: center;
    border-radius: 50px;
    line-height: 19px;
    padding-right: 0px;
    top: 10px;
    color: #fff;
    border: 1.2px solid #fff;
    font-weight: 500;
}
 .box-login {
    position: absolute;
    width: 265px;
    height: 225px;
    background: #ffffff;
    z-index: 999;
    padding: 25px 15px;
    right: -48px;
    transition: 500ms ease-out 200ms;
    top: 55px;
    opacity: 0;
    display: block;
    margin-top: 20px;
    visibility: hidden;
}
.box-login::before {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    background: url(../images/ic-top.png);
    width: 22px;
    height: 17px;
    left: 95px;
    right: 0;
    margin: auto;
}

.box-login .btn-login a,.box-login .btn-register a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #fff !important;
    display: block;
    background: #0D3996;
}
.box-login .btn-login a:hover, .box-login .btn-register a:hover{
  background-color: #fad400;
  color: black !important;
}
.box-login .login-or {
    position: relative;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.box-login .login-or::before {
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    display: block;
}
.box-login .login-or span {
    position: absolute;
    top: -27px;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ffff;
    width: max-content;
    padding: 0 10px;
    margin: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #2d2d2d;
}
.box-login .public {
    float: left;
    width: 100%;
}
.box-login .public .login-fb,.login-gmail{
    float: left;
    width: 48%;
    background: #0D3996;
    border-radius: 5px;
    height: 40px;
    line-height: 37px;
    text-align: center;
}
.box-login .public .login-gmail {
    float: right;
    background: #1877F2;
}
.user-h:hover .box-login {
    top: 45px;
    opacity: 2;
    display: block;
    visibility: visible;
}

.box-login .btn-login,.btn-register {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}
.login-fb span,.login-gmail span{
  color: #fff;
}
.login-fb:hover, .login-gmail:hover {
      background-color: #334770 !important;
}
.user-h:hover .box-login{
  display: block;
  opacity: 2;
  overflow: visible;
  
}
.header-area .seach_icon a i {
  position: absolute;
  left: 50%;
  top: 56%;
  color: black;
  font-size: 20px;
  transform: translate(-50%, -50%);
}

/*//////////////////////////////css-footer///////////////////*/
@media (max-width: 767px) {
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

.footer .footer_top .footer_widget .links {
  position: relative;
  top: -14px;
}
.footer .footer_top .footer_widget .links.double_links li {
  width: 50%;
  float: left;
}
.footer .footer_top .footer_widget .footer_title {
  font-size:14px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 45px;
  font-family:Bold;
}

@media (max-width: 767px) {
  .footer .footer_top .footer_widget .footer_title {
    margin-bottom: 20px;
  }
}

.footer .footer_top .footer_widget .footer_logo {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .footer .footer_top .footer_widget .footer_logo {
    margin-bottom: 20px;
  }
}

p.f-title {
  font-size: 14px;
  font-family: bold;
  line-height: 26px;
  color: #fff;
  margin-bottom: 10px;
}
p.f-map{
  font-size: 14px;
  font-weight: inherit;
  color: #ffffffc7;
  display: flex;
  font-family:  Regular;
}
.bt-10{
  margin-bottom: 10px;
}
a.f-phone,a.f-website{
  color:#ffffffc7;
  font-size: 14px;
  line-height: 10px;
  display: block;
}

.footer .footer_top .footer_widget p a {
  color: #AAB1B7;
}

.footer .footer_top .footer_widget p a:hover {
  color: #FED266;
}

.footer .footer_top .footer_widget p.footer_text {
  font-size: 16px;
  color: #B2B2B2;
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 26px;
}

.footer .footer_top .footer_widget p.footer_text a.domain {
  color: #B2B2B2;
  font-weight: 400;
}

.footer .footer_top .footer_widget p.footer_text a.domain:hover {
  color: #FF4A52;
  border-bottom: 1px solid #FF4A52;
}

.footer .footer_top .footer_widget p.footer_text.doanar a {
  font-weight: 500;
  color: #B2B2B2;
}

.footer .footer_top .footer_widget p.footer_text.doanar a:hover {
  color: #FF4A52;
  border-bottom: 1px solid #FF4A52;
}

.footer .footer_top .footer_widget p.footer_text.doanar a.first {
  margin-bottom: 10px;
}


.footer .footer_top .footer_widget ul li {
  color: #ACACAC;
  font-size: 14px;
  line-height: 36px;
}
.footer .footer_top .footer_widget ul li a {
  color: #fff;
  font-weight: 400;
  font-family: Regular ;
}


.footer .footer_top .footer_widget ul li a:hover {
  color: #FED266;
}


.footer .footer_top .footer_widget .newsletter_form {
  position: relative;
  margin-bottom: 20px;
}


.footer .footer_top .footer_widget .newsletter_form input {
  width: 100%;
  height: 50px;
  background: #F5FBFF;
  padding-left: 20px;
  font-size: 15px;
  color: #000;
  border: none;
  border: 1px solid #E8E8E8;
  border-radius: 30px;
  font-family: "HelveticaNeue", sans-serif;
  padding-right: 120px;
}


.footer .footer_top .footer_widget .newsletter_form input::placeholder {
  font-size: 15px;
  color: #AAB1B7;
}


.footer .footer_top .footer_widget .newsletter_form input:focus {
  outline: none;
}

.footer .footer_top .footer_widget .newsletter_form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  border: none;
  font-size: 14px;
  color: #fff;
  background: #FF4A52;
  padding: 10px;
  padding: 0 22px;
  cursor: pointer;
  border-radius: 30px;
  top: 5px;
  right: 5px;
  font-size: 14px;
  font-weight: 500;
  font-family: "HelveticaNeue", sans-serif;
}

.footer .footer_top .footer_widget .newsletter_text {
  font-size: 14px;
  color: #AAB1B7;
  line-height: 26px;
  font-family: "HelveticaNeue", sans-serif;
}


.footer .footer_top .footer_widget .instagram_feed {
  margin: -7.5px -7.5px 0 -7.5px;
}


.footer .footer_top .footer_widget .instagram_feed .single_insta {
  width: 33.33%;
  padding: 7.5px;
}


.footer .footer_top .footer_widget .instagram_feed .single_insta img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.footer{
  margin-top: 20px;
}
.footer .copy-right_text {
  padding-bottom: 5px;
}

.footer .copy-right_text .footer_border {
  padding-bottom: 5px;
}
.copy-right_text{
  border-top: 1px solid #fff;
}


.footer .copy-right_text .copy_right {
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {

  .footer .copy-right_text .copy_right {
    font-size: 13px;
  }
}

.footer .copy-right_text .copy_right a {
  color: #FF4A52;
}


.footer .socail_links {
  margin-top: 45px;
}
@media (max-width: 767px) {

  .footer .socail_links {
    margin-top: 30px;
  }
}

.footer .socail_links ul li {
  display: inline-block;
}

.footer .socail_links ul li a {
  font-size: 15px;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  background: transparent;
  margin-right: 7px;
  line-height: 30px !important;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: 0.8s;
}

.footer .socail_links ul li a:hover {
  color: #FED266!important;
  /* border-color: red; */
}
.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/bg-ft.png);
  position: relative;
  z-index: 0;
}
.bg-icon{
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
}
.bg-icon a{
  display: block;
  margin: 0 auto;
}

.footer .footer_top {
  padding-top: 35px;
  padding-bottom: 25px;
}