
@media(max-width: 1920px) {
    .header-area .main-header-area.sticky .main-menu ul li a.active:after,
    .header-area .main-header-area.sticky .main-menu ul li a:after {
        bottom: 0px !important;
    }
    .rem {
        position: absolute;
        top: 0px;
        width: 20.2% !important;
    }
    .header-area .main-header-area.sticky .bf {
        bottom: -2px !important;
    }
    .header-area .main-header-area.sticky .main-menu{
        padding: 5px !important;
    }
  
}
@media (max-width: 1600px) {
    .header-area .main-header-area.sticky .bf {
        bottom: 0px !important;
    }
    .header-area .main-header-area.sticky .main-menu ul li a.active:after, .header-area .main-header-area.sticky .main-menu ul li a:after {
        bottom: 5px !important;
    }


    
}

@media (max-width: 1500px) {
     .box-login{
        right: 0px !important; 
        } 
        .box-login::before {
            content: "";
            display: block;
            position: absolute;
            top: -12px;
            background: url(../images/imagest/ic-top.png);
            width: 22px;
            height: 17px;
            left: 80px !important;
            right: 0;
            margin: auto;
        }
        .header-area .main-header-area.sticky{
            height: 72px !important;
            line-height: 55px !important;
        }
         .header-area .main-header-area.sticky .main-menu.d-none.d-lg-block {
            padding: 0px !important;
        }

        .header-area .seach_icon {
            width: 50px !important;
        }


    
}
 
@media (max-width: 1400px) {
    .rem {
        position: absolute;
        top: 0px;
        width: 20.3% !important;
    }
    .main-menu.d-none.d-lg-block {
        padding: 5px 0 !important;
    }
    .header-area .main-header-area.sticky .main-menu ul li a:after,
    #sticky-header.sticky .main-menu ul li a:after {
        bottom: 0 !important;
    }
    .slide-right {
        right: -85px  !important;
    }
    .header-area .main-header-area.sticky .bf{
        bottom: -4px !important;
    }
    .main-menu ul {
        float: right;
    }
    .header-area .main-header-area .main-menu ul li{
        margin: 0 25px 0 0  !important;
    }
    .bf {
        left: -85px !important;
    }
    .header_bottom_border{
        margin-left: 70px !important ;
    }
}
@media (max-width: 1200px) {
    .box-login{
        display: none !important;
        opacity: 0;
    }
   
}
@media (max-width: 1024px) {
    .box-why-img{
        display: block;
        opacity: 1;
    }
    .img-why-pc{
        display: none;
        opacity: -1;
    }
    .slide-big{
        width: 590px !important;
    }
    .slide-right{
        display: none;
    }
    .bf {
        width: 290px !important;
    }
    .rem {
        width: 17.7% !important;
    }
    .header-area .main-header-area .main-menu ul li {
        margin-right: 15px !important;
    }
    .header-area .main-header-area .main-menu ul li a.active:after, .header-area .main-header-area .main-menu ul li a:after {
        bottom: -7px  !important;

    }
   
}

@media (max-width: 992px) {
 .main-header-area.sticky .mobile_menu {
    top: -43px !important;
}
#exampleModalPopovers .float-l{
  float: none !important;
  width: 100% !important;
 
}


}
@media (max-width: 767px) {
  

}
@media (max-width: 414px) {
    .single_insta {
    width: 25% !important;
    float: right;
    margin-bottom: 20px;
    }
    .image-circle{
        margin-bottom: 20px !important;
    }
     .login-page .login-content .login-form .form-header {
        text-align: center;
    }
    .btn-social {
    margin-bottom: 1rem;
    }
    .login-page .login-content{
        width: 100% !important;
        padding: 15px !important;
    }
    .login-page{
        padding: 0px !important;
    }
    #back2Top,.nguon a {
        display: none;
        opacity: -1;
    }
    .footer {
        padding-bottom: 60px;
    }
    .bf {
        bottom: -12px !important;
    }
    .bf {
        width: 275px !important;
    }
    .header-area .logo img{
        width: 50%;
    }
    .header-area .seach_icon a i {
        position: absolute;
        left: 50%;
        top: 60% !important;
        color: black;
        font-size: 20px;
        transform: translate(-50%, -50%);
    }
    .header-area .seach_icon {
        width: 50px;
        right: 90px !important;
        z-index: 99999 !important;
    }

    .header-area .main-header-area.sticky .bf{
        bottom: -8px !important;
    }
    .header-area .main-header-area.sticky .slicknav_btn {
        background-color: transparent;
        cursor: pointer;
        margin-bottom: 10px;
        position: relative;
        z-index: 99;
        border: none;
        border-radius: 3px;
        padding: 5px;
        right: 0;
        margin-top: 0px;
    }
    .title-content-da-index{
        width: 100% !important;
    }
    .slider_area .single_slider .slider_text{
        height: auto  !important;
    }
    .title-index-kh h2{
        margin-top: 0px !important;
        margin-bottom: 40px !important;
        font-size: 20px !important;
    }
    .title-index-kh h2::after {
        top: 30px !important;
    }
    .title-product a{
        font-size: 16px !important;
    }
    .video_area h3 {
        font-size: 20px !important;
        color: #fff;
        font-family: Bold;
        position: absolute;
        top: -85px !important;
        text-align: center;
        display: block;
        margin: 0 auto;
        left: 42% !important;
    }
    .video_area h3:after {
        content: "";
        position: absolute;
        max-width: 70px;
        background-color: #FED266;
        height: 3px;
        width: 100%;
        top: 35px !important;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .video_area .video_wrap .video_icon a i {
     font-size: 20px !important;
     position: relative;
     line-height: 50px !important;
     left: 4px !important;
     top: -16px !important;
     color: #0D3996;

    }
    .desc-video h4,.introduce .intro .intro-title,.cat-section .box-category .desc-category h2{
        font-size: 20px !important;
    }
    .box-why .title-index-kh h2{
        margin-top: 20px !important;
        margin-bottom: 40px !important;
        font-size: 15px !important;
    }
    .box-why .title-index-kh h2:after{
       top: 45px !important;
    }
    .box-why.mb-100{
        margin-bottom: 0px !important;
    }
    .bg-da .title-index-kh h2, .box-new .title-index-kh h2,.bst .title-index-kh h2,.dtcl .title-index-kh h2,.box-tkhoan .needs-validation button{
         margin-top: 20px !important;
    }
    .bg-da .title-index-kh h2:after,.box-new .title-index-kh h2:after,.bst .title-index-kh h2:after,.dtcl .title-index-kh h2:after{
         margin-top: 20px !important;
    }
    .slide-right,.slide-left{
        display: none;
    }
    .slide-big,.box-all-new .div-img,.box-img-top {
        width: 100% !important;
        height: 100% !important;
    }
    .slide-big.slick-initialized.slick-slider img{
        height: 100% !important;
    }
    .slide-big{
        top: 0px !important;
    }
    .box-da .slick-prev,.box-da .slick-next {
        top: -10% !important;

    }
    .box-da{
        margin-bottom: 50px !important;
    }
    .title-new a,.title-showroom h2{
        font-size: 15px !important;
    }
    .float-left {
         float: none!important; 
    }
    .title-content-da-index h3:after{
        content: url(../images/carot.png);
        position: absolute;
        left: -55px !important;
        z-index: 999;
    }
    h2.contact-title.title-tin-tuc,.tin .title h2,.box-tin a{
        font-size: 15px !important;
    }
    .photo-pade{
        display: none;
    }
    .img-nxet{
        padding: 0px !important;
    }
    .img-nxet p {
        padding: 0px 15px !important;
    }
    .footer .copy-right_text .copy_right {
        font-size: 12px !important;
    }
    button.btn-facebook.btn-social.justify-content-center.btn.btn-custom{
        margin-bottom: 20px;
    }
    .slider_text.text-center.slide-datb h2 {
        font-size: 25px !important;
    }
    .cat-section .box-category {
        padding: 20px 0 42px 0  !important;
    }
    .title-datb h2,.box-td .slider_text-td h2{
        font-size: 20px !important;
    }
    .slide-left-datb {
        width: auto !important;
        height: auto !important;
    }
    .order-section .c-radio-inline{
        display: inline-block !important;
    }
    .title-content-da.datb h3 {
        font-size: 18px !important;
    }
    .bg-color{
        padding: 15px !important;
    }
    .title-content-da {
        margin-top: 15px !important;
    }
    .title-content-da a{
        margin-left: 0px !important;
    }
    .su-menh img{
        right: 0px !important;
        height: auto !important;
    }
    .su-menh .su-menh-1 img{
        display: none;
    }
    .w-48,.tt-tk-left,.tt-tk-right,.dc-add-drees select {
        width: 100%!important;
    }
    #lienhe button {
        height: 40px !important;
        font-size: 15px !important;
        margin-bottom: 30px !important;
    }
    .breadcrumb-tin ul{
        margin-top: 0px !important; 
    }
    .address-lh strong{
        font-size: 14px !important;
    }
    .address-lh img {
        width: 15px !important;
        height: 20px !important;
    }
    .avatar-tk>img{
        top: -50px !important;
    }
    .camera-tk {
        position: absolute;
        right: 105px !important;
        top: 10px;
    }
    .desc-tk ul{
        margin-left: 30px !important;
    }
    .tin .nguon a {
        display: block;
        opacity: 1;
    }
    .header_bottom_border {
        margin-left: 0px !important;}
    .header-area .main-header-area.sticky .slicknav_nav{
            margin-top: 12px !important;
    }
    .product-detail .f-btn:first-child {
        padding: 0px 25px !important;
    }
    .row.imglist .mb-55{
        margin-bottom: 0px !important;
    }



}
@media (min-width: 1600px){
    .container {
        max-width: 1400px !important;
    }
}
@media (min-width: 1900px){
      .header-area .main-header-area .main-menu ul li, .header-area .main-header-area.sticky .main-menu ul li{
    margin: 0 55px 0 0 !important;
    }
      .bf {
        width: 418px !important;
    }
    .main-menu{
        margin-left: 10% !important;
    }
    .float-right {
        margin-right: 6%;
    }
    .float-left {
         margin-left: 6%;
    }
    .img-1 {
        left: 238px !important;
    }
    .img-2{
        left: 180px !important;
    }
    .img-3 {
        left: 240px !important;
    }
    .img-4 {
        right: 240px !important;
    }
     .img-5{
        right: 180px !important;
    }
    .img-6{
        right: 240px !important;
    }
    .slide-big {
        width: 1028px !important;
    }
    .slide-right {
        width: 268px !important;
    }
     .su-menh-2.gtcl img,.su-menh .su-menh-2 img  {
        display: none;
    }
    


}
