/* Noi that do roi */
.head-section {
    margin-bottom: 0;
}

.head_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background: transparent linear-gradient(180deg, #FFFFFF00 0%, #C2C6CE30 25%, #273853A8 70%, #001433C7 100%) 0% 0% no-repeat padding-box; */
}
.cat-section .box-category.img-category.bf-l img{
    position: absolute;
    width: auto;
    top: 0;
    right: -10px;
    height: 320px;
}
.head_banner::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.2;
}

.head_banner h1 {
    position: relative;
    color: #FFFFFF;
    font-size: 40px;
    font-family: Bold;
    text-align: center;
    text-transform: uppercase;
}

.head_banner h1::before {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 70px;
    height: 4px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 2px;
    background-color: #FFFFFF;
}

.cat-section .box-category {
    position: relative;
    background-color: #FFFFFF;
    padding: 50px 0 42px 0;
}

.cat-section .box-category .desc-category {
    padding-left: 36px;
    border-left: 3px solid #FFB84D;
}

.cat-section .box-category .desc-category h2 {
    color: #0D3996;
    font-family: Bold;
    font-size: 28px;
    margin-bottom: 32px;
    line-height: 1.25;
}
    
.cat-section .box-category .desc-category p {
    color: #141414;
    font-size: 14px;
    margin-bottom: 32px;
    line-height: 25px;
    text-align: left;
    font-family: Regular;
    width: 90%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

.cat-section .box-category .desc-category a.btn {
    color: #004FA1;
    border: 1px solid #004FA1;
    font-size: 14px;
    padding: .6rem 2rem;
    line-height: 1.25;
}

.cat-section .box-category .desc-category a.btn:hover,
.cat-section .box-category .desc-category a.btn:focus {
    color: #FFFFFF !important;
    /*background-color: #004FA1 !important;*/
    font-size: 14px;
    padding: .6rem 2rem;
    line-height: 1.25;
}

.cat-section .box-category .img-category.bf-r img {
    position: absolute;
    width: auto;
    top: 0;
    left: -15px;
    height: 320px;
}
.bf-r img, .bf-l img{
    position: absolute;
    width: 100%;
    max-height: 305px;
}
.bf-r{
    margin-left: -15px;
}
.bf-l img{
    right: 0px
}

.cat-section:nth-child(odd) .box-category .row {
    flex-direction: row-reverse;
}

.cat-section:nth-child(odd) .box-category .desc-category {
    border-right: 3px solid #FFB84D;
    padding-right: 36px;
    border-left: 0;
}

.cat-section:nth-child(odd) .box-category .desc-category h2 {
    text-align: right;
}

.cat-section:nth-child(odd) .box-category .img-category .owl-img-category {
    left: 0;
}

.cat-section:nth-child(odd) .box-category .desc-category p {
    text-align: right;
    float: right;
    font-size: 14px;
    font-family: Regular;
    color: #141414;
}

.cat-section:nth-child(odd) .box-category .desc-category a {
    float: right;
}

.product-slider {
    padding-top: 130px;
    padding-bottom: 50px;
    background: #E4E4E4 0% 0% no-repeat padding-box;
}

.p-slider {
    position: relative;
}

.p-slider .owl-nav {
    display: flex !important;
    justify-content: space-between;
    top: 30%;
    width: 100%;
}

.p-slider .owl-nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: rgba(19, 113, 185, .2) 0% 0% no-repeat padding-box;
    right: -25px !important;
    border-radius: 0;
}

.p-slider .owl-nav div.owl-prev {
    left: -25px !important;
    outline: none !important;
}

.p-slider .owl-nav div i {
    top: 0 !important;
    color: #FFFFFF !important;
}

.item .card {
    padding: 0;
    border: 0;
    border-radius: 0;
}

.item .p-head h6 {
    margin-top: 5px;
    margin-bottom: 0;
    height: 40px;
    padding: .5rem 1rem;
    font-family: Regular;
    font-size: 14px;
    color: #141414;
}

.item .p-head h6:hover{
    color: #0D3996;
    font-weight: bold;
}

.p-content h6{
   font-family: Regular;
   font-size: 14px;
   color: black;
}

.item .p-head h5 {
    margin-top: 15px;
    margin-bottom: 0;
    height: 40px;
    font-size: 14px;
    font-family: Bold;
}

.item small {
    font-size: 14px;
    color: #171717;
    font-family: Regular;
    padding-top: 10px;
}

.item small i {
    font-size: 14px;
    color: #171717;

}

.item .p-head img {
    height: 184px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 60%
}

.item .p-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.item .p-content .btn-cart {
    border: 1px solid #0D3996;
    padding: 6px;
    height: 36px;
    width: 36px;
}

.item .p-content .btn-cart:hover {
    background-color: #0D3996;
}

.item .p-content .star-num {
    display: flex;
    justify-content: start;
    align-items: center;
}

.item .p-content .star-num img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

/* Danh muc san pham */

.order-section {
    width: 100%;
    padding: .8rem 0;
    position: relative;
    background: rgba(245, 245, 245, 1) 0% 0% no-repeat padding-box;
}

.order-section .c-radio-inline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-section .c-radio-inline .c-radio-label {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 14px;
    color: rgba(54, 52, 48, 1);
    margin-left: 30px;
    margin-bottom: 0;
}

.order-section .c-radio-inline .c-radio-label:before {
    content: "";
    position: absolute;
    left: -30px;
    bottom: 2px;
    z-index: 5;
    cursor: pointer;
    font-size: 14px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(54, 52, 48, 1);
    border-radius: 50%;
}

.order-section input:checked~.c-radio-label:before {
    content: "";
    border: 1px solid #ED1C24;
    background-color: #ED1C24;
    box-shadow: inset 0px 0px 0px 4px white;
}

.order-section .order-criterias {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-section .btn-o-crit {
    display: none;
}

.order-section .order-criterias .order-criteria {
    text-align: center;
    border-left: 1px solid rgba(112, 112, 112, 1);
    width: 20%;
}

.order-section .order-criterias .order-criteria a {
    color: rgba(54, 52, 48, 1);
}

.order-section .order-criterias .order-criteria a:hover, 
.order-section .order-criterias .order-criteria a:focus{
    color: #0D3996;
}

.order-section .order-criterias .order-criteria .dropdown-menu {
    width: 100%;
    border: none;
    transform: translate3d(0px, 34px, 0px);
    border-radius: unset;
    overflow: hidden;
}

.order-section .order-criterias .order-criteria .dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: .25rem 1rem;
}

.order-section .order-criterias .order-criteria .dropdown-menu .dropdown-item:hover {
    background-color: #1371B9;
    color: #FFFFFF;
}

.main-section ol.breadcrumb {
    padding: 0;
    background-color: unset;
    font-size: 14px;
    margin-top: 24px;
    font-family: Regular;
}

.main-section ol.breadcrumb .breadcrumb-item.active {
    color: #1371B9;
}

.main-section .breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    vertical-align: baseline;
    color: #141414;
    letter-spacing: .81px;
}

.main-section .cat-description {
    margin: 26px 0;
}

/*.main-section .cat-description p {
   line-height: 1.5;
   color: #141414;
   font-size: 14px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   text-align: justify;
}*/

.main-section .cat-description div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-section .cat-description p {
    color: #141414;
    font-size: 14px;
    font-family: Regular;
}

.main-section .cat-description div a.btn {
    color: #004FA1;
    border: 1px solid #004FA1;
    font-size: 14px;
    padding: .6rem 2rem;
    margin-top: 24px;
    line-height: 1.25;
}

.main-section .cat-description div a.btn:hover {
    color: #FFFFFF;
}

.main-section .cat-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.main-section .cat-pagination {
    margin: 26px 0;
}

.main-section .cat-pagination .page-item {
    margin: 0 8px;
}

.main-section .cat-pagination .page-item .page-link {
    border: none;
    font-size: 14px;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50%;
    color: #141414;
}

.main-section .cat-pagination .page-item.active .page-link,
.main-section .cat-pagination .page-item .page-link:hover,
.main-section .cat-pagination .page-item .page-link:focus {
    color: #FFFFFF;
    background-color: #004FA1;
}

.main-section .cat-pagination .page-item.disabled .page-link {
    height: 48px;
    width: unset;
    padding-left: 0;
    padding-right: 0;
}

.main-section .cat-pagination .page-act {
    margin: 0 4px;
}

.main-section .cat-pagination .page-act .p-act-next,
.main-section .cat-pagination .page-act .p-act-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: unset;
    height: unset;
}

/* Chi tiet san pham */

.img-preview #carousel-1 {
    margin-bottom: 26px;
}

.img-preview #carousel-1 img {
    height: 453px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.img-preview #carousel-2 img {
    height: 98px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    object-position: 50% 50%;
    border: 1px solid #DFDFDF;
}

.product-detail .product-name {
    font-size: 18px;
    font-family: Bold;
    color: #141414;
    letter-spacing: 1.04px;
}

.product-detail .btn-p-like,
.product-detail .btn-p-share {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 8px;
    border-radius: 2px;
    background-color: #1877F2;
    color: #FFFFFF !important;
    text-align: center;
    width: 71px;
    margin-left: 12px;
    height: 21px;
}

.product-detail .btn-p-like i,
.product-detail .btn-p-share i {
    font-size: 12px;
}

.product-detail .product-desc {
    color: #212121;
    margin-top: 20px;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    line-height: 1.5;
    font-family: Regular;


}

.product-detail .product-info {
    color: #141414;
}

.product-detail .product-info li strong {
    color: #004FA1;
    font-size: 14px;
    font-family: Bold;
}

.product-detail .product-info li:before {
    content: "-";
    margin-right: 3px;
}

.product-detail .synced {
    opacity: .8;
}

.quantity {
    position: relative;
}

.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity input[type=number] {
    -moz-appearance: textfield;
}

.quantity {
    height: 40px;
}

.quantity input {
    width: 100px;
    height: 40px;
    line-height: 1.65;
    float: left;
    font-size: 20px;
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 1px solid #DFDFDF;
    padding-right: 40px;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 40px;
}

.quantity-button {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 40px;
    text-align: center;
    color: #333;
    font-size: 13px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    align-items: flex-end;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: 0px;
    height: 50%;
    align-items: flex-start;
}

.product-detail .f-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: #004FA1;
    color: #FFFFFF;
    font-size: 14px;
    margin-right: 30px;
    padding: .2rem .8rem;
}

.product-detail .f-btn:last-child {
    margin-right: 0;
}

.product-detail .btn-add-cart {
    justify-content: space-around;
    font-size: 14px;
}

.product-detail .btn-add-cart span:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.product-detail .btn-add-cart span img {
    object-fit: fill;
    object-position: 50% 50%;
}

.product-detail .f-btn:hover,
.product-detail .f-btn:focus {
    background-color: #1f5ea1;
    color: #FFFFFF;
}

.pd-section .h-section {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    margin: 22px 0 32px 0;
    padding: 1rem 1rem;
}

.pd-section .h-section h4 {
    margin: 0;
    font-family: Bold;
    color: #141414;
    font-size: 21px;
}

.pd-section .h-section a {
    color: #0D3996;
}

.pd-section .h-section .nav-item:not(:last-child) {
    border-right: 1px solid #707070;
}

.pd-section .h-section .nav-item:not(:first-child) .nav-link {
    padding-left: 2rem;
}

.pd-section .h-section .nav-item:not(:last-child) .nav-link {
    padding-right: 2rem;
}

.pd-section .h-section .nav-item .nav-link {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0px;
    color: #141414;
    padding: 0;
    opacity: 1;
    font-family: Regular;
}

.pd-section .h-section .nav-item .nav-link.active {
    color: #004FA1;
    font-family: Bold;
}

.pd-section .h-section .cmt-filter {
    display: flex;
    align-items: center;
}

.pd-section .h-section .cmt-filter .nice-select {
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    color: #141414;
}

.pd-section .h-section .cmt-filter .nice-select:after {
    /* content: "\f0dc"; */
    top: 5px;
    right: 15px;
    color: #141414;
}

.pd-section .h-section .cmt-filter p {
    color: #141414;
}

.pd-section .cmt-list {
    margin-bottom: 2rem;
}

.pd-section .cmt-list .media {
    color: #141414;
}

.pd-section .cmt-list .media img {
    height: 80px;
    width: 80px;
    object-position: 50% 50%;
    object-fit: cover;
}

.pd-section .cmt-list .media h5 {
    font-weight: 500;
}

.media p {
    text-align: justify;
}

.pd-section .cmt-list .media p {
    color: #141414;
    line-height: 1.5;
    margin: .4rem 0;
    font-size: 14px;
}

.pd-section .cmt-list .media .cmt-reply {
    margin-right: 1rem;
}

.pd-section .b-section #nav-detail p {
    color: #141414;
    letter-spacing: 0.81px;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.pd-section .b-section #nav-detail img {
    object-position: 50% 50%;
    margin: 18px 0;
}

.pd-section .b-section #nav-tech .table {
    color: #141414;
    letter-spacing: 0.81px;
    line-height: 1.5;
    text-align: justify;
}

.pd-section .p-slider .owl-nav {
    display: none !important;
}

.pd-section .b-section .evaluation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.pd-section .b-section .evaluation .eval-index {
    color: #141414;
    font-size: 14px;
}

.pd-section .b-section .evaluation .eval-progress {
    width: 50%;
    background-color: rgba(239, 166, 37, .3);
}

.pd-section .b-section .evaluation .eval-progress .progress-bar {
    background-color: #EFA625;
}

.pd-section .b-section .evaluation .eval-percent {
    color: rgba(239, 166, 37, 1);
    font-family: Bold;
}

.pd-section .b-section .evaluation .eval-num {
    color: #141414;
    border-left: 1px solid rgba(112, 112, 112, 1);
    padding-left: 20px;
}

.pd-section .b-section .eval-form {
    position: relative;
}

.pd-section .b-section .eval-form textarea {
    width: 100%;
    top: 0;
    right: 0;
    border: 1px solid #141414;
}

.pd-section .b-section .eval-form button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #0D3996;
    color: #FFFFFF;
    padding: .4rem 1.2rem;
}
.product-info li{
    font-size: 14px;
    color: #141414;
    font-family: Regular ;
}
/* Gio hang */
.cart {
    border: none;
    border-radius: unset;
}

.cart .card-footer {
    padding: 1rem 0;
    display: flex;
    justify-content: start;
    align-items: center;
    border-top: none;
    background-color: #FFFFFF;
}

.cart .card-footer h4{
    margin: 0;
    font-size: 14px;
    font-family: Regular;
    margin-left: 1rem;
    color: #0D3996;
}

.cart-item {
    margin-top: 1.5rem;
}

.cart .cart-header{
    border: none;
    border-radius: unset;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #FFFFFF;
    background-color: #0D3996;
}

.cart .cart-header img{
    height: 20px;
    width: auto;
    object-position: 50% 50%;
    object-fit: cover;
}

.cart .cart-header h4 {
    color: #FFFFFF;
    margin-bottom: 0;
    margin-left: 1rem;
    font-size: 14px;
    font-family: Bold;
}
.cart .cart-body {
    padding: 0;
}

.cart .cart-body .cb-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    font-weight: 14px;
    padding: .8rem 1rem;
}

.cart .cart-body .cb-head h5{
    margin: 0;
    font-size: 14px;
    font-family: Regular;
}

.cart .cart-body .cb-head .form-control {
    border: none !important;
    background-color: #FFFFFF;
}

.form-control:focus::placeholder {
    color: transparent;
}

.cart .cart-body .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart .cart-body .cart-item:last-child {
    margin-bottom: 1rem;
}

.cart .cart-body .cart-item .ci-img {
    position: relative;
    border: 1px solid #e9e9e9;
}

.cart .cart-body .cart-item .ci-img .ci-image {
    object-fit: cover;
    height: 121px;
    width: 100%;
    object-position: 50% 50%;
}

.cart .cart-body .cart-item .ci-img .ci-button {
    position: absolute;
    top: -12px;
    right: -12px;
    height: 28px;
    width: 28px;
}

.cart .cart-body .cart-item .ci-img .ci-button img{
    object-fit: cover;
    object-position: 50% 50%;
}

.cart .cart-body .cart-item .ci-name h5 {
    font-size: 14px;
    margin: 0;
    font-family: Regular;
    line-height: 1.5;
    padding-left: 1rem;
}

.cart .cart-body .cart-item .ci-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
}

.cart .cart-body .cart-item .ci-quantity {
    padding-left: 1rem;
    padding-right: 1rem;
}

.customer-info {
    background-color: #F5F5F5; 
    padding: 1rem; 
    color: #141414;
    font-family: Regular;
    font-size: 14px;
}

.customer-info .form-control{
    border: none;
    padding: .6rem 1.2rem;
    font-size: 14px;
    color: #141414;
}

.btn-order {
    padding: 1rem 4rem;
    background-color: #0D3996;
    font-size: 18px;
    font-family: Regular;
    color: #FFFFFF;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-order:hover, .btn-order:focus {
    color: #0D3996;
    border: 1px solid #0D3996;
    background-color: #FFFFFF;
}

/* Trang gioi thieu */
.introduce .intro:nth-child(even) {
    background-color: #EEEEEE;
    transform: translateY(-242px);
    z-index: 2;
}

.introduce .intro:nth-child(even)::before {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    background-color: rgba(13, 57, 150, .3);
}

.introduce .intro .intro-title {
    position: relative;
    font-size: 24px;
    font-family: Bold;
    color: #0D3996;
    padding-left: 75px;
    margin: 0;
    text-transform: uppercase;
}

.introduce .intro .intro-title::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 50px;
    background-color: #0D3996;
    transform: translate(-150%, 400%);
}

.introduce .intro .intro-banderol {
    color: #141414;
    font-family: Bold;
}

.introduce .intro .intro-content {
    font-size: 14px;
    font-family: Montserrat;
    color: #141414;
}

.introduce .intro .intro-content p{
    font-size: 14px;
    font-family: Regular;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: .5rem;
}

@media (max-width: 576px) {
    .main-section .cat-description {
        margin: 18px 0;
    }

    .main-section .cat-description div a.btn {
        margin-top: 16px;
    }

    .order-section .c-radio-inline .c-radio-label:before {
        content: "";
        position: absolute;
        left: -25px;
    }

    .head_banner {
        height: 100px !important;
    }

    .head_banner h1 {
        font-size: 20px;
        font-weight: 500;
    }

    .head_banner h1:before {
        content: "";
        position: absolute;
        bottom: -10px;
    }

    .cat-section .box-category .desc-category {
        padding-left: 24px;
    }

    .cat-section .box-category .row,
    .cat-section:nth-child(odd) .box-category .row {
        flex-direction: column-reverse;
    }

    .cat-section .box-category .row .img-category {
        width: 100%;
    }

    .cat-section .box-category .img-category img {
        display: none;
    }

    .cat-section .box-category .desc-category p {
        width: 100%;
    }

    .product-slider {
        padding-top: 50px !important;
    }

    .main-section .cat-product {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .order-section .order-criterias {
        display: none;
        margin-top: 0.8 !important;
    }

    .o-crit {
        position: unset;
    }

    .order-section .btn-o-crit {
        display: block;
        float: right;
    }

    .open-crite {
        display: block !important;
        position: absolute;
        top: 48px;
        left: 0;
        width: 100%;
        z-index: 2;
        background-color: #FFFFFF;
        padding: .5rem 1rem;
        box-shadow: 0 1px 1px 1px #F5F5F5;
    }

    .open-crite .order-criteria {
        width: 100% !important;
        text-align: left !important;
        border: none !important;
        margin-bottom: 5px;
    }

    .open-crite .order-criteria:last-child {
        margin-bottom: 0;
    }

    .img-preview #carousel-1 img {
        height: 200px !important;
    }

    .img-preview #carousel-2 {
        display: none;
    }

    .pd-section .h-section h4 {
        font-size: 16px;
    }

    .pd-section .h-section .nav-item .nav-link {
        font-size: 16px;
    }

    .pd-section .h-section .nav-item:not(:first-child) .nav-link {
        padding-left: .5rem;
    }
    
    .pd-section .h-section .nav-item:not(:last-child) .nav-link {
        padding-right: .5rem;
    }

    .pd-section .h-section .cmt-filter p{
        display: none;
    }

    /* gio hang */
    .cart .cart-body .cb-head {
        display: none;
    }

    .cart .cart-body .cart-item .ci-wrapper {
        display: block;
        width: 70%;
    }

    .cart .cart-body .cart-item .ci-img {
        margin-right: 1rem;
    }

    .cart .cart-body .cart-item .ci-img .ci-image {
        height: 100px;
    }

    .cart .cart-body .cart-item .ci-name h5 {
        padding-left: 0;
        margin-bottom: .5rem;
    }

    .cart .cart-body .cart-item .ci-quantity {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .head_banner {
        height: 100px !important;
    }

    .head_banner h1 {
        font-size: 20px;
        font-weight: 500;
    }

    .head_banner h1:before {
        content: "";
        position: absolute;
        bottom: -10px;
    }

    .cat-section .box-category .desc-category {
        padding-left: 24px;
    }

    .cat-section .box-category .desc-category h2 {
        margin-bottom: 16px;
    }

    .cat-section .box-category .row,
    .cat-section:nth-child(odd) .box-category .row {
        flex-direction: column-reverse;
    }

    .cat-section .box-category .row .img-category {
        width: 100%;
    }

    .cat-section .box-category .img-category img {
        display: none;
    }

    .cat-section .box-category .desc-category p {
        width: 100%;
        margin-bottom: 16px;
    }

    .product-slider {
        padding-top: 50px !important;
    }

    .item .p-content .star-num img {
        width: 14px;
        height: 14px;
        margin-right: 6px;
    }

    .main-section .cat-pagination {
        margin: 20px 0;
    }

    .main-section .cat-pagination .page-item {
        margin: 0 2px;
    }

    .main-section .cat-pagination .page-item .page-link {
        border: none;
        font-size: 16px;
        height: 36px;
        width: 36px;
    }

    .main-section .cat-pagination .page-item.active .page-link,
    .main-section .cat-pagination .page-item .page-link:hover,
    .main-section .cat-pagination .page-item .page-link:focus {
        color: #FFFFFF;
        background-color: #004FA1;
    }

    .main-section .cat-pagination .page-item.disabled .page-link {
        height: 36px;
        width: unset;
        padding-left: 0;
        padding-right: 0;
    }

    .main-section .cat-pagination .page-act {
        margin: 0 4px;
    }

    .main-section .cat-pagination .page-act .p-act-next,
    .main-section .cat-pagination .page-act .p-act-prev {
        font-size: 12px;
    }

    #carousel-2 {
        display: none;
    }

    .product-detail .f-btn {
        margin-right: 10px;
    }
}

@media (max-width: 992px) {
    .main-section .cat-product {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }

    .order-section .order-criterias {
        margin-top: .8rem;
    }

    .order-section .order-criterias .order-criteria:first-child {
        border-left: none;
    }

    .img-preview #carousel-1 {
        margin-bottom: 20px;
    }

    .img-preview #carousel-1 img {
        height: 300px;
    }
}

@media (max-width: 1200px) {
    .product-slider {
        padding-top: 100px;
    }

    .p-slider .owl-nav {
        display: none !important;
        justify-content: space-between;
        top: 30%;
        width: 100%;
    }

    .main-section .cat-product {
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }

    .img-preview #carousel-1 {
        margin-bottom: 20px;
    }

    .img-preview #carousel-1 img {
        height: 390px;
    }

    .product-detail .f-btn {
        margin-right: 20px;
    }

    .pd-section .item .p-head img {
        height: 154px;
    }
}
/* Noi that do roi */
.head-section {
    margin-bottom: 0;
}

.head_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background: transparent linear-gradient(180deg, #FFFFFF00 0%, #C2C6CE30 25%, #273853A8 70%, #001433C7 100%) 0% 0% no-repeat padding-box; */
}
.cat-section .box-category.img-category.bf-l img{
    position: absolute;
    width: auto;
    top: 0;
    right: -10px;
    height: 320px;
}
.head_banner::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.2;
}

.head_banner h1 {
    position: relative;
    color: #FFFFFF;
    font-size: 40px;
    font-family: Bold;
    text-align: center;
    text-transform: uppercase;
}

.head_banner h1::before {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 70px;
    height: 4px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 2px;
    background-color: #FFFFFF;
}

.cat-section .box-category {
    position: relative;
    background-color: #FFFFFF;
    padding: 50px 0 42px 0;
}

.cat-section .box-category .desc-category {
    padding-left: 36px;
    border-left: 3px solid #FFB84D;
}

.cat-section .box-category .desc-category h2 {
    color: #0D3996;
    font-family: Bold;
    font-size: 28px;
    margin-bottom: 32px;
    line-height: 1.25;
}
    
.cat-section .box-category .desc-category p {
    color: #141414;
    font-size: 14px;
    margin-bottom: 32px;
    line-height: 25px;
    text-align: left;
    font-family: Regular;
    width: 90%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

.cat-section .box-category .desc-category a.btn {
    color: #004FA1;
    border: 1px solid #004FA1;
    font-size: 14px;
    padding: .6rem 2rem;
    line-height: 1.25;
}

.cat-section .box-category .desc-category a.btn:hover,
.cat-section .box-category .desc-category a.btn:focus {
    color: #FFFFFF !important;
    /*background-color: #004FA1 !important;*/
    font-size: 14px;
    padding: .6rem 2rem;
    line-height: 1.25;
}

.cat-section .box-category .img-category.bf-r img {
    position: absolute;
    width: auto;
    top: 0;
    left: -15px;
    height: 320px;
}
.bf-r img, .bf-l img{
    position: absolute;
    width: 100%;
    max-height: 305px;
}
.bf-r{
    margin-left: -15px;
}
.bf-l img{
    right: 0px
}

.cat-section:nth-child(odd) .box-category .row {
    flex-direction: row-reverse;
}

.cat-section:nth-child(odd) .box-category .desc-category {
    border-right: 3px solid #FFB84D;
    padding-right: 36px;
    border-left: 0;
}

.cat-section:nth-child(odd) .box-category .desc-category h2 {
    text-align: right;
}

.cat-section:nth-child(odd) .box-category .img-category .owl-img-category {
    left: 0;
}

.cat-section:nth-child(odd) .box-category .desc-category p {
    text-align: right;
    float: right;
    font-size: 14px;
    font-family: Regular;
    color: #141414;
}

.cat-section:nth-child(odd) .box-category .desc-category a {
    float: right;
}

.product-slider {
    padding-top: 130px;
    padding-bottom: 50px;
    background: #E4E4E4 0% 0% no-repeat padding-box;
}

.p-slider {
    position: relative;
}

.p-slider .owl-nav {
    display: flex !important;
    justify-content: space-between;
    top: 30%;
    width: 100%;
}

.p-slider .owl-nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: rgba(19, 113, 185, .2) 0% 0% no-repeat padding-box;
    right: -25px !important;
    border-radius: 0;
}

.p-slider .owl-nav div.owl-prev {
    left: -25px !important;
    outline: none !important;
}

.p-slider .owl-nav div i {
    top: 0 !important;
    color: #FFFFFF !important;
}

.item .card {
    padding: 0;
    border: 0;
    border-radius: 0;
}

.item .p-head h6 {
    margin-top: 5px;
    margin-bottom: 0;
    height: 40px;
    padding: .5rem 1rem;
    font-family: Regular;
    font-size: 14px;
    color: #141414;
}

.item .p-head h6:hover{
    color: #0D3996;
    font-weight: bold;
}

.p-content h6{
   font-family: Regular;
   font-size: 14px;
   color: black;
}

.item .p-head h5 {
    margin-top: 15px;
    margin-bottom: 0;
    height: 40px;
    font-size: 14px;
    font-family: Bold;
}

.item small {
    font-size: 14px;
    color: #171717;
    font-family: Regular;
    padding-top: 10px;
}

.item small i {
    font-size: 14px;
    color: #171717;

}

.item .p-head img {
    height: 184px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 60%
}

.item .p-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.item .p-content .btn-cart {
    border: 1px solid #0D3996;
    padding: 6px;
    height: 36px;
    width: 36px;
}

.item .p-content .btn-cart:hover {
    background-color: #0D3996;
}

.item .p-content .star-num {
    display: flex;
    justify-content: start;
    align-items: center;
}

.item .p-content .star-num img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

/* Danh muc san pham */

.order-section {
    width: 100%;
    padding: .8rem 0;
    position: relative;
    background: rgba(245, 245, 245, 1) 0% 0% no-repeat padding-box;
}

.order-section .c-radio-inline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-section .c-radio-inline .c-radio-label {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 14px;
    color: rgba(54, 52, 48, 1);
    margin-left: 30px;
    margin-bottom: 0;
}

.order-section .c-radio-inline .c-radio-label:before {
    content: "";
    position: absolute;
    left: -30px;
    bottom: 2px;
    z-index: 5;
    cursor: pointer;
    font-size: 14px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(54, 52, 48, 1);
    border-radius: 50%;
}

.order-section input:checked~.c-radio-label:before {
    content: "";
    border: 1px solid #ED1C24;
    background-color: #ED1C24;
    box-shadow: inset 0px 0px 0px 4px white;
}

.order-section .order-criterias {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-section .btn-o-crit {
    display: none;
}

.order-section .order-criterias .order-criteria {
    text-align: center;
    border-left: 1px solid rgba(112, 112, 112, 1);
    width: 20%;
}

.order-section .order-criterias .order-criteria a {
    color: rgba(54, 52, 48, 1);
}

.order-section .order-criterias .order-criteria a:hover, 
.order-section .order-criterias .order-criteria a:focus{
    color: #0D3996;
}

.order-section .order-criterias .order-criteria .dropdown-menu {
    width: 100%;
    border: none;
    transform: translate3d(0px, 34px, 0px);
    border-radius: unset;
    overflow: hidden;
}

.order-section .order-criterias .order-criteria .dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: .25rem 1rem;
}

.order-section .order-criterias .order-criteria .dropdown-menu .dropdown-item:hover {
    background-color: #1371B9;
    color: #FFFFFF;
}

.main-section ol.breadcrumb {
    padding: 0;
    background-color: unset;
    font-size: 14px;
    margin-top: 24px;
    font-family: Regular;
}

.main-section ol.breadcrumb .breadcrumb-item.active {
    color: #1371B9;
}

.main-section .breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    vertical-align: baseline;
    color: #141414;
    letter-spacing: .81px;
}

.main-section .cat-description {
    margin: 26px 0;
}

/*.main-section .cat-description p {
    display: -webkit-box;
    line-height: 1.5;
    color: #141414;
    font-size: 14px;
    -webkit-line-clamp: 3;
    vertical-align: baseline;
    text-align: justify;
}*/

.main-section .cat-description div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section .cat-description div a.btn {
    color: #004FA1;
    border: 1px solid #004FA1;
    font-size: 14px;
    padding: .6rem 2rem;
    margin-top: 24px;
    line-height: 1.25;
}

.main-section .cat-description div a.btn:hover {
    color: #FFFFFF;
}

.main-section .cat-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.main-section .cat-pagination {
    margin: 26px 0;
}

.main-section .cat-pagination .page-item {
    margin: 0 8px;
}

.main-section .cat-pagination .page-item .page-link {
    border: none;
    font-size: 14px;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50%;
    color: #141414;
}

.main-section .cat-pagination .page-item.active .page-link,
.main-section .cat-pagination .page-item .page-link:hover,
.main-section .cat-pagination .page-item .page-link:focus {
    color: #FFFFFF;
    background-color: #004FA1;
}

.main-section .cat-pagination .page-item.disabled .page-link {
    height: 48px;
    width: unset;
    padding-left: 0;
    padding-right: 0;
}

.main-section .cat-pagination .page-act {
    margin: 0 4px;
}

.main-section .cat-pagination .page-act .p-act-next,
.main-section .cat-pagination .page-act .p-act-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: unset;
    height: unset;
}

/* Chi tiet san pham */

.img-preview #carousel-1 {
    margin-bottom: 26px;
}

.img-preview #carousel-1 img {
    height: 453px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.img-preview #carousel-2 img {
    height: 98px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    object-position: 50% 50%;
    border: 1px solid #DFDFDF;
}

.product-detail .product-name {
    font-size: 18px;
    font-family: Bold;
    color: #141414;
    letter-spacing: 1.04px;
}

.product-detail .btn-p-like,
.product-detail .btn-p-share {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 8px;
    border-radius: 2px;
    background-color: #1877F2;
    color: #FFFFFF !important;
    text-align: center;
    width: 71px;
    margin-left: 12px;
    height: 21px;
}

.product-detail .btn-p-like i,
.product-detail .btn-p-share i {
    font-size: 12px;
}

.product-detail .product-desc {
    color: #212121;
    margin-top: 20px;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    line-height: 1.5;
    font-family: Regular;


}

.product-detail .product-info {
    color: #141414;
}

.product-detail .product-info li strong {
    color: #004FA1;
}

.product-detail .product-info li:before {
    content: "-";
    margin-right: 3px;
}

.product-detail .synced {
    opacity: .8;
}

.quantity {
    position: relative;
}

.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity input[type=number] {
    -moz-appearance: textfield;
}

.quantity {
    height: 40px;
}

.quantity input {
    width: 100px;
    height: 40px;
    line-height: 1.65;
    float: left;
    font-size: 20px;
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 1px solid #DFDFDF;
    padding-right: 40px;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 40px;
}

.quantity-button {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 40px;
    text-align: center;
    color: #333;
    font-size: 13px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    align-items: flex-end;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: 0px;
    height: 50%;
    align-items: flex-start;
}

.product-detail .f-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: #004FA1;
    color: #FFFFFF;
    font-size: 14px;
    margin-right: 30px;
    padding: .0rem .8rem;
}

.product-detail .f-btn:last-child {
    margin-right: 0;
}

.product-detail .btn-add-cart {
    justify-content: space-around;
    font-size: 14px;
}

.product-detail .btn-add-cart span:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin: 5px 0px;
}

.product-detail .btn-add-cart span img {
    object-fit: fill;
    object-position: 50% 50%;
}

.product-detail .f-btn:hover,
.product-detail .f-btn:focus {
    background-color: #1f5ea1;
    color: #FFFFFF;
}

.pd-section .h-section {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    margin: 22px 0 32px 0;
    padding: 1rem 1rem;
}

.pd-section .h-section h4 {
    margin: 0;
    font-family: Bold;
    color: #141414;
    font-size: 21px;
}

.pd-section .h-section a {
    color: #0D3996;
}

.pd-section .h-section .nav-item:not(:last-child) {
    border-right: 1px solid #707070;
}

.pd-section .h-section .nav-item:not(:first-child) .nav-link {
    padding-left: 2rem;
}

.pd-section .h-section .nav-item:not(:last-child) .nav-link {
    padding-right: 2rem;
}

.pd-section .h-section .nav-item .nav-link {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0px;
    color: #141414;
    padding: 0;
    opacity: 1;
    font-family: Regular;
}

.pd-section .h-section .nav-item .nav-link.active {
    color: #004FA1;
    font-family: Bold;
}

.pd-section .h-section .cmt-filter {
    display: flex;
    align-items: center;
}

.pd-section .h-section .cmt-filter .nice-select {
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    color: #141414;
}

.pd-section .h-section .cmt-filter .nice-select:after {
    /* content: "\f0dc"; */
    top: 5px;
    right: 15px;
    color: #141414;
}

.pd-section .h-section .cmt-filter p {
    color: #141414;
}

.pd-section .cmt-list {
    margin-bottom: 2rem;
}

.pd-section .cmt-list .media {
    color: #141414;
}

.pd-section .cmt-list .media img {
    height: 80px;
    width: 80px;
    object-position: 50% 50%;
    object-fit: cover;
}

.pd-section .cmt-list .media h5 {
    font-weight: 500;
}

.media p {
    text-align: justify;
}

.pd-section .cmt-list .media p {
    color: #141414;
    line-height: 1.5;
    margin: .4rem 0;
    font-size: 14px;
}

.pd-section .cmt-list .media .cmt-reply {
    margin-right: 1rem;
}

.pd-section .b-section #nav-detail p {
    color: #141414;
    letter-spacing: 0.81px;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.pd-section .b-section #nav-detail img {
    object-position: 50% 50%;
    margin: 18px 0;
}

.pd-section .b-section #nav-tech .table {
    color: #141414;
    letter-spacing: 0.81px;
    line-height: 1.5;
    text-align: justify;
}

.pd-section .p-slider .owl-nav {
    display: none !important;
}

.pd-section .b-section .evaluation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.pd-section .b-section .evaluation .eval-index {
    color: #141414;
    font-size: 14px;
}

.pd-section .b-section .evaluation .eval-progress {
    width: 50%;
    background-color: rgba(239, 166, 37, .3);
}

.pd-section .b-section .evaluation .eval-progress .progress-bar {
    background-color: #EFA625;
}

.pd-section .b-section .evaluation .eval-percent {
    color: rgba(239, 166, 37, 1);
    font-family: Bold;
}

.pd-section .b-section .evaluation .eval-num {
    color: #141414;
    border-left: 1px solid rgba(112, 112, 112, 1);
    padding-left: 20px;
}

.pd-section .b-section .eval-form {
    position: relative;
}

.pd-section .b-section .eval-form textarea {
    width: 100%;
    top: 0;
    right: 0;
    border: 1px solid #141414;
}

.pd-section .b-section .eval-form button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #0D3996;
    color: #FFFFFF;
    padding: .4rem 1.2rem;
}
.product-info li{
    font-size: 14px;
    color: #141414;
    font-family: Regular ;
}
/* Gio hang */
.cart {
    border: none;
    border-radius: unset;
}

.cart .card-footer {
    padding: 1rem 0;
    display: flex;
    justify-content: start;
    align-items: center;
    border-top: none;
    background-color: #FFFFFF;
}

.cart .card-footer h4{
    margin: 0;
    font-size: 14px;
    font-family: Regular;
    margin-left: 1rem;
    color: #0D3996;
}

.cart-item {
    margin-top: 1.5rem;
}

.cart .cart-header{
    border: none;
    border-radius: unset;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #FFFFFF;
    background-color: #0D3996;
}

.cart .cart-header img{
    height: 20px;
    width: auto;
    object-position: 50% 50%;
    object-fit: cover;
}

.cart .cart-header h4 {
    color: #FFFFFF;
    margin-bottom: 0;
    margin-left: 1rem;
    font-size: 14px;
    font-family: Bold;
}
.cart .cart-body {
    padding: 0;
}

.cart .cart-body .cb-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    font-weight: 14px;
    padding: .8rem 1rem;
}

.cart .cart-body .cb-head h5{
    margin: 0;
    font-size: 14px;
    font-family: Regular;
}

.cart .cart-body .cb-head .form-control {
    border: none !important;
    background-color: #FFFFFF;
}

.form-control:focus::placeholder {
    color: transparent;
}

.cart .cart-body .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart .cart-body .cart-item:last-child {
    margin-bottom: 1rem;
}

.cart .cart-body .cart-item .ci-img {
    position: relative;
    border: 1px solid #e9e9e9;
}

.cart .cart-body .cart-item .ci-img .ci-image {
    object-fit: cover;
    height: 121px;
    width: 100%;
    object-position: 50% 50%;
}

.cart .cart-body .cart-item .ci-img .ci-button {
    position: absolute;
    top: -12px;
    right: -12px;
    height: 28px;
    width: 28px;
}

.cart .cart-body .cart-item .ci-img .ci-button img{
    object-fit: cover;
    object-position: 50% 50%;
}

.cart .cart-body .cart-item .ci-name h5 {
    font-size: 14px;
    margin: 0;
    font-family: Regular;
    line-height: 1.5;
    padding-left: 1rem;
}

.cart .cart-body .cart-item .ci-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
}

.cart .cart-body .cart-item .ci-quantity {
    padding-left: 1rem;
    padding-right: 1rem;
}

.customer-info {
    background-color: #F5F5F5; 
    padding: 1rem; 
    color: #141414;
    font-family: Regular;
    font-size: 14px;
}

.customer-info .form-control{
    border: none;
    padding: .6rem 1.2rem;
    font-size: 14px;
    color: #141414;
}

.btn-order {
    padding: 1rem 4rem;
    background-color: #0D3996;
    font-size: 18px;
    font-family: Regular;
    color: #FFFFFF;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-order:hover, .btn-order:focus {
    color: #0D3996;
    border: 1px solid #0D3996;
    background-color: #FFFFFF;
}

/* Trang gioi thieu */
.introduce .intro:nth-child(even) {
    background-color: #EEEEEE;
    transform: translateY(-242px);
    z-index: 2;
}

.introduce .intro:nth-child(even)::before {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    background-color: rgba(13, 57, 150, .3);
}

.introduce .intro .intro-title {
    position: relative;
    font-size: 24px;
    font-family: Bold;
    color: #0D3996;
    padding-left: 75px;
    margin: 0;
    text-transform: uppercase;
}

.introduce .intro .intro-title::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 50px;
    background-color: #0D3996;
    transform: translate(-150%, 400%);
}

.introduce .intro .intro-banderol {
    color: #141414;
    font-family: Bold;
}

.introduce .intro .intro-content {
    font-size: 14px;
    font-family: Montserrat;
    color: #141414;
}

.introduce .intro .intro-content p{
    font-size: 14px;
    font-family: Regular;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: .5rem;
}

@media (max-width: 576px) {
    .main-section .cat-description {
        margin: 18px 0;
    }

    .main-section .cat-description div a.btn {
        margin-top: 16px;
    }

    .order-section .c-radio-inline .c-radio-label:before {
        content: "";
        position: absolute;
        left: -25px;
    }

    .head_banner {
        height: 100px !important;
    }

    .head_banner h1 {
        font-size: 20px;
        font-weight: 500;
    }

    .head_banner h1:before {
        content: "";
        position: absolute;
        bottom: -10px;
    }

    .cat-section .box-category .desc-category {
        padding-left: 24px;
    }

    .cat-section .box-category .row,
    .cat-section:nth-child(odd) .box-category .row {
        flex-direction: column-reverse;
    }

    .cat-section .box-category .row .img-category {
        width: 100%;
    }

    .cat-section .box-category .img-category img {
        display: none;
    }

    .cat-section .box-category .desc-category p {
        width: 100%;
    }

    .product-slider {
        padding-top: 50px !important;
    }

    .main-section .cat-product {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .order-section .order-criterias {
        display: none;
        margin-top: 0.8 !important;
    }

    .o-crit {
        position: unset;
    }

    .order-section .btn-o-crit {
        display: block;
        float: right;
    }

    .open-crite {
        display: block !important;
        position: absolute;
        top: 48px;
        left: 0;
        width: 100%;
        z-index: 2;
        background-color: #FFFFFF;
        padding: .5rem 1rem;
        box-shadow: 0 1px 1px 1px #F5F5F5;
    }

    .open-crite .order-criteria {
        width: 100% !important;
        text-align: left !important;
        border: none !important;
        margin-bottom: 5px;
    }

    .open-crite .order-criteria:last-child {
        margin-bottom: 0;
    }

    .img-preview #carousel-1 img {
        height: 200px !important;
    }

    .img-preview #carousel-2 {
        display: none;
    }

    .pd-section .h-section h4 {
        font-size: 16px;
    }

    .pd-section .h-section .nav-item .nav-link {
        font-size: 16px;
    }

    .pd-section .h-section .nav-item:not(:first-child) .nav-link {
        padding-left: .5rem;
    }
    
    .pd-section .h-section .nav-item:not(:last-child) .nav-link {
        padding-right: .5rem;
    }

    .pd-section .h-section .cmt-filter p{
        display: none;
    }

    /* gio hang */
    .cart .cart-body .cb-head {
        display: none;
    }

    .cart .cart-body .cart-item .ci-wrapper {
        display: block;
        width: 70%;
    }

    .cart .cart-body .cart-item .ci-img {
        margin-right: 1rem;
    }

    .cart .cart-body .cart-item .ci-img .ci-image {
        height: 100px;
    }

    .cart .cart-body .cart-item .ci-name h5 {
        padding-left: 0;
        margin-bottom: .5rem;
    }

    .cart .cart-body .cart-item .ci-quantity {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .head_banner {
        height: 100px !important;
    }

    .head_banner h1 {
        font-size: 20px;
        font-weight: 500;
    }

    .head_banner h1:before {
        content: "";
        position: absolute;
        bottom: -10px;
    }

    .cat-section .box-category .desc-category {
        padding-left: 24px;
    }

    .cat-section .box-category .desc-category h2 {
        margin-bottom: 16px;
    }

    .cat-section .box-category .row,
    .cat-section:nth-child(odd) .box-category .row {
        flex-direction: column-reverse;
    }

    .cat-section .box-category .row .img-category {
        width: 100%;
    }

    .cat-section .box-category .img-category img {
        display: none;
    }

    .cat-section .box-category .desc-category p {
        width: 100%;
        margin-bottom: 16px;
    }

    .product-slider {
        padding-top: 50px !important;
    }

    .item .p-content .star-num img {
        width: 14px;
        height: 14px;
        margin-right: 6px;
    }

    .main-section .cat-pagination {
        margin: 20px 0;
    }

    .main-section .cat-pagination .page-item {
        margin: 0 2px;
    }

    .main-section .cat-pagination .page-item .page-link {
        border: none;
        font-size: 16px;
        height: 36px;
        width: 36px;
    }

    .main-section .cat-pagination .page-item.active .page-link,
    .main-section .cat-pagination .page-item .page-link:hover,
    .main-section .cat-pagination .page-item .page-link:focus {
        color: #FFFFFF;
        background-color: #004FA1;
    }

    .main-section .cat-pagination .page-item.disabled .page-link {
        height: 36px;
        width: unset;
        padding-left: 0;
        padding-right: 0;
    }

    .main-section .cat-pagination .page-act {
        margin: 0 4px;
    }

    .main-section .cat-pagination .page-act .p-act-next,
    .main-section .cat-pagination .page-act .p-act-prev {
        font-size: 12px;
    }

    #carousel-2 {
        display: none;
    }

    .product-detail .f-btn {
        margin-right: 10px;
    }
}

@media (max-width: 992px) {
    .main-section .cat-product {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }

    .order-section .order-criterias {
        margin-top: .8rem;
    }

    .order-section .order-criterias .order-criteria:first-child {
        border-left: none;
    }

    .img-preview #carousel-1 {
        margin-bottom: 20px;
    }

    .img-preview #carousel-1 img {
        height: 300px;
    }
}

@media (max-width: 1200px) {
    .product-slider {
        padding-top: 100px;
    }

    .p-slider .owl-nav {
        display: none !important;
        justify-content: space-between;
        top: 30%;
        width: 100%;
    }

    .main-section .cat-product {
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }

    .img-preview #carousel-1 {
        margin-bottom: 20px;
    }

    .img-preview #carousel-1 img {
        height: 390px;
    }

    .product-detail .f-btn {
        margin-right: 20px;
    }

    .pd-section .item .p-head img {
        height: 154px;
    }
}
